
<div class="callfor_support">
<div class="pop_close" (click)="dismiss()"><img src="assets/svg/close_delete.svg" width="15" alt="close"></div>
<h2>Call for Support</h2>

<table class="call_support_table" width="100%">
<tr>
<td>IT Desk <span class="sb_ti d-block">for tech related queries</span></td>
<td>022 4151 4151</td>
</tr>

<tr>
<td>FSD Desk <span class="sb_ti d-block">for tech related queries</span></td>
<td>66022 623400</td>
</tr>


<tr>
<td>Risk Queries </td>
<td><span class="d-block">022 62663400</span>
<span class="d-block">95949 23176</span>
<span class="d-block">95949 23177</span></td>
</tr>


<tr>
<td>Research & Advisory</td>
<td><span class="d-block">022 62663400</span>
<span class="d-block">95949 23176</span>
<span class="d-block">95949 23177</span></td>
</tr>




</table>


</div>
