<div class="container-block" [ngClass]="{'form2-height': secondForm}">
	<div class="close" (click)="dismiss()">x</div>
	<div class="title">
		Fo<span>rgot Passwo</span>rd
	</div>
	<p class="message">
		A temporary password will be sent to the mobile no. registered with the User ID. After login, you would be
		redirected to set a new password.
	</p>
	<form class="form-block" *ngIf="firstForm">
		<div class="field-block">
			<ion-item lines="none">
				<div class="field m-b-16">
					<ion-label [ngClass]="{'focus-label': isFocusUser}">User ID</ion-label>
					<ion-input [ngClass]="{'focus-input': isFocusUser}" placeholder="User ID" type="text"
					(keypress)="keyPress($event)"	(ionChange)="inputChange($event)" (ionFocus)="focusUser()" 
						(ionBlur)="focusOutUser($event)" autocomplete="off"></ion-input>
				</div>
			</ion-item>
		</div>
		<div class="login-btn">
			<ion-button shape="round" expand="full" [disabled]="userID === null || userID === ''" (click)="submit()">
				Submit</ion-button>
		</div>
	</form>
	<form class="form-block" *ngIf="secondForm">
		<div class="field-block">
			<ion-item lines="none">
				<div class="field m-b-16">
					<ion-label [ngClass]="{'focus-label': isFocusUser}">User ID</ion-label>
					<ion-input class="added-value" [ngClass]="{'focus-input': isFocusUser}" placeholder="User ID"
						type="text" (ionFocus)="focusUser()" (ionBlur)="focusOutUser($event)" autocomplete="off"
						disabled [value]="userID"></ion-input>
				</div>
			</ion-item>
			<ion-item lines="none">
				<div class="field">
					<ion-label [ngClass]="{'focus-label': isFocusPassword}">Fwin/Iwin Password</ion-label>
					<ion-input [ngClass]="{'focus-input': isFocusPassword}" style="--padding-end:32px"
						[type]="passwordVisible ? 'text' : 'password'" clearOnEdit="false" autocomplete="off"
						inputmode="password" placeholder="Password" (keypress)="keyPress($event)"
						(ionChange)="passwordChange($event)" (ionFocus)="focusPassword()" name="password"
						(ionBlur)="focusOutPassword()"></ion-input>
					<ion-icon [name]="passwordVisible ? 'eye' : 'eye-off' " (click)="passwordVisible = !passwordVisible"
						class="eye-icon"></ion-icon>

				</div>
			</ion-item>
		</div>
		<div class="login-btn">
			<ion-button shape="round" expand="full" (click)="successfull()">Send Temporary Password</ion-button>
		</div>
	</form>
</div>