
<div class="note-msg" *ngIf="!clientMappMsg">
	<span><img src="assets/imgs/exclam_icon.svg"></span>
	<span>
		Family Portfolio view is in beta phase. If you find any data issues, please share them on this link:
		<span class="click-here" (click)="portfolioForm()">Click Here</span>
	</span>
</div>

<div class="loader-pdf" *ngIf="!pdfLoader"></div>
<div class="panel-wrapper">
	<div class="panel-content portfolio-container">
		<div class="portfolio portfolio-panel" *ngIf="dataLoad">
			<div class="d-flex align-center clientMappMsg" *ngIf="clientMappMsg">
				<img src="assets/imgs/client-mapp.svg">
				You can view the Family Portfolio only for the clients mapped under your hierarchy.
			</div>
			<div class="portfolio-info-panel" *ngIf="!clientMappMsg">
				<div class="top-info-block">
					<div class="select-wrapper">
						<div class="select_client">
							<div class="title-width" (click)="myClientselect()">
								<span class="clientNameCss">{{clientName}}</span>
								<ion-icon class="family-dropdown" slot="end" name="chevron-down"></ion-icon>
							</div>

							<!-- <input type="text" value="{{clientName}}" (click)="myClientselect()" readonly> -->
							<!-- <ion-icon class="family-dropdown" slot="end" name="chevron-down-outline"></ion-icon> -->
							<div class="select_client_dropdown_main d-none" id="ClientMainBox">
								<ul class="select_client_dropdown">
									<li class="client_box d-flex" (click)="goToFamilyPortfolio()" *ngIf="familyOptionDisplay">
										<div class="short_name">{{getShortName(parentClientName)}}</div>
										<div class="name_details">
											<span>{{parentClientName}}</span>
											<label>FAMILY</label>
										</div>
									</li>
									<li class="client_box d-flex" *ngFor="let dataObj of familyMappList; let i = index"
										(click)="familyDropdown(dataObj)">
										<div class="short_name">{{getShortName(dataObj.ClientName)}}</div>
										<div class="name_details">
											<span>{{dataObj.ClientName}}</span>
											<label>{{dataObj.Relation && dataObj.Relation.length > 0 ? dataObj.Relation : 'SELF'}}</label>
										</div>
									</li>
								</ul>
								<div class="add_member d-flex align-center" (click)="addMemberForm()">
									<img src="assets/imgs/add_member.svg">
									<span>Add another member</span>
								</div>

							</div>
						</div>
						<div class="d-flex client_id_select align-center">
							<label>Client ID {{clientCode}}</label>
							<span class="hierarchyType">{{displayRelation}}</span>
						</div>

					</div>

					<div class="acc-details last-update d-flex justify-content-center" (click)="goToAccDetail()">

							<span class="margin-t-20">
								<img src="assets/imgs/client-detail-icon.svg"> Account Summary
							</span>
					</div>

					<div class="last-update d-flex  justify-content-center" >
						<span class="margin-t-20" *ngIf="lastUpdated">
							<img src="assets/imgs/watch.svg">
						 Last Updated: {{moment(lastUpdated).format('YYYY-MM-DD')}}</span>
					</div>
				</div>
				<div class="rmvalues d-flex align-center">
					<ul class="d-flex">
						<li>
							<h5>Current Value</h5>
							<h3>₹{{currentValue == 0 ? 0 : (currentValue | numberformat)}}</h3>
						
						</li>
						<li>
							<h5>Invested Value</h5>
							<h3>₹{{investedValue == 0 ? 0 : (investedValue | numberformat) }}</h3>
						</li>
						<li>
							<h5>Unrealised P&L</h5>
							<h3 class="profit"
								[ngStyle]="{'color':unRealisePlPer == 0  ? '#212121' : unRealisePlPer > 0 ? '#17C257' : '#F55858'}">
								₹{{unRealisePlValue == 0 ? 0 :  (unRealisePlValue | numberformat)}}
								<span
									[ngStyle]="{'color':unRealisePlPer == 0  ? '#212121' : unRealisePlPer > 0 ? '#17C257' : '#F55858'}">{{unRealisePlPer == 0 ? 0 : (unRealisePlPer | formatNumerDecimal)}}%</span>
							</h3>
						</li>
					</ul>
				</div>

	


				<ul class="report-download d-flex justify-content-center align-center flex-direction-column">
					<li (click)="generateTablesHTML()" *ngIf="displayReport">
						<img src="assets/imgs/download.svg" alt="" />
						<h4>Report</h4>
					</li>
					<!-- <li>
							<img src="assets/img/whatapp.svg" alt=""/>
							<h4>WhatsApp</h4>
						</li>
						<li>
							<img src="assets/img/e-mail.svg" alt=""/>
							<h4>E-Mail</h4>
						</li> -->
				</ul>
			</div>
		</div>

		<div class="loader loader-height-300" *ngIf="!dataLoad">
			<img src="/assets/imgs/loader.gif" alt="">
		</div>

		<div class="portfolio-info-chart">
			<div class="chart-switch-tab d-flex mb-30" *ngIf="productAssetSummary.length > 0">
				<!-- <input type="radio" id="pieChartDonut" name="switch-one" value="yes" checked />
				<label for="pieChartDonut" (click)="chartType('dognut')">Pie Chart</label>
				<input type="radio" id="treemap" name="switch-one" value="no" />
				<label for="treemap" (click)="chartType('tree')">Treemap</label> -->
			</div>

			<div class="pieChartDonut-data" *ngIf="productSummaryData.length > 0" style="margin-bottom: 30px;">
				<div>
					<div class="chartDataSlider" [ngClass]="memberGraph ? 'between' : 'evenly'" style="display: flex;">
						<div class="chartContent-info" style="justify-content: left;width: 28.33%;">
							<div class="chartInfo">
								<div class="chart-size">
									<!-- <canvas #chartJSContainer1></canvas> -->
									<canvas baseChart
										[datasets]="chart1Data"
										[labels]="chart1Labels"
										[options]="commonChartOptions"
										[type]="'doughnut'"
									></canvas>
								</div>
								<div class="innerInfo">
									<p class="innerInfo-title">
										<span class="graph-content">0{{productAssetSummary.length}}</span>
										<span class="graph-content">Asset
											<span *ngIf="productAssetSummary.length == 1">Class</span>
											<span *ngIf="productAssetSummary.length > 1">Classes</span>
										</span>
									</p>
								</div>
							</div>
							<div class="chartInfoTable">
								<ul>
									<li *ngFor="let dataObj of productAssetSummary; let i = index">
										<span class="textinfo">
											{{dataObj.ASSET == 'E' ? 'Equity' : dataObj.ASSET == 'D' ? 'Debt' : dataObj.ASSET == 'H' ? 'Hybrid' : dataObj.ASSET == 'L' ? 'Liquid' : dataObj.ASSET == 'C' ? 'Commodity' : dataObj.ASSET == 'O' ? 'Others' : dataObj.ASSET}}
										</span> <span
											class="valueinfo">{{dataObj.EQUITYPERCENTAGE | formatNumerDecimal }}%</span>
									</li>
								</ul>
							</div>
						</div>

						<img class="desktop-visibility divider" src="/assets/imgs/divider.png">

						<div class="chartContent-info" *ngIf="memberGraph"
							style="justify-content: center;width: 28.33%;">
							<div class="chartInfo">
								<div class="chart-size">
									<!-- <canvas #chartJSContainer2 width="160px" height="160px"></canvas> -->
									<canvas baseChart
										[datasets]="chart2Data"
										[labels]="chart2Labels"
										[options]="commonChartOptions"
										[type]="'doughnut'"
									></canvas>
								</div>
								<div class="innerInfo">
									<p class="innerInfo-title">
										<span class="graph-content">0{{memberData.length}}</span>
										<span class="graph-content">Members</span>
									</p>
								</div>
							</div>
							<div class="chartInfoTable">
								<ul>
									<li *ngFor="let dataObj of memberData; let i = index">
										<div class="textinfo">
											<span style="color:#586A7A">{{dataObj.CLIENTCODE}}</span>
											<span *ngIf="dataObj.Relation != 'No'"
												style="color:#BCBCBC">{{dataObj.Relation}}</span>
										</div>
										<span
											class="valueinfo">{{dataObj.EQUITYPERCENTAGE | formatNumerDecimal}}%</span>
									</li>
								</ul>
							</div>
						</div>

						<img class="desktop-visibility divider divider2" src="/assets/imgs/divider.png"
							*ngIf="memberGraph">

						<div class="chartContent-info chart-3" style="justify-content: right;width: 27.33%;">
							<div class="chartInfo">
								<div class="chart-size">
									<!-- <canvas #chartJSContainer3 width="160px" height="160px"></canvas> -->
									<canvas baseChart
										[datasets]="chart3Data"
										[labels]="chart3Labels"
										[options]="commonChartOptions"
										[type]="'doughnut'"
									></canvas>
								</div>
								<div class="innerInfo">
									<p class="innerInfo-title">
										<span class="graph-content">0{{productChartData.length}}</span>
										<span class="graph-content">Products</span>
									</p>

								</div>
							</div>
							<div class="chartInfoTable">
								<ul>
									<li *ngFor="let dataObj of productChartData; let i = index">
										<span class="textinfo">
											{{dataObj.PRODUCT == 'DE' ? 'Stocks' : dataObj.PRODUCT == 'BO' ? 'Bonds' : dataObj.PRODUCT == 'BD' ? 'Bonds' : dataObj.PRODUCT}}
										</span>
										<span class="valueinfo">
											{{dataObj.EQUITYPERCENTAGE | formatNumerDecimal}}%
										</span>
									</li>
									<!-- 
									<li>
										<span class="textinfo">
											MF
										</span>
										<span
											class="valueinfo">{{mfAllocation | formatNumerDecimal}}%</span>
									</li> -->

								</ul>
							</div>
						</div>
					</div>


					<!-- <div style="width:180px; height:180px">
						<canvas #chartJSContainer2 width="160px" height="160px"></canvas>
					</div>
					<div style="width:180px; height:180px">
						<canvas #chartJSContainer3 width="160px" height="160px"></canvas>
					</div> -->

				</div>
			</div>
		</div>

	</div>
	<div class="panel-content mt-40" *ngIf="productSummaryData.length > 0">
		<div class="tab-title-block">
			<ul class="responsive-scroll">
				<li class="category-panel-li" *ngFor="let dataObj of cardSegments; let i = index"
					(click)="tabTableContent(dataObj.sequence, dataObj.table, dataObj.segmentValue)">
					<h5>{{dataObj.name}}</h5>
					<h3>{{dataObj.value}}</h3>
					<span [ngStyle]="{'color':dataObj.pl > 0  ? '#17C257' : dataObj.pl < 0 ? '#F55858' : '#656565'}"
						class="profit">{{dataObj.pl == '-' ? '--' : (dataObj.pl | formatNumerDecimal)}}
						<span *ngIf="dataObj.pl != '-'">%</span></span>
				</li>
			</ul>
		</div>

		<div class="tab-content-block table-1 responsive-scroll active">
			<table id="scriptableData">
				<thead>
					<tr>
						<th>Scrip Name</th>
						<th>Qty</th>
						<th>Purchase Price</th>
						<th>Invested Value</th>
						<th>Current Price</th>
						<th>Current Value</th>
						<th>Net Profit/ Loss</th>
						<th>Profit/ Loss %</th>
						<!-- <th>XIRR %</th> -->
					</tr>
				</thead>

				<tbody *ngIf="eqTableDisplay.length > 0">
					<tr *ngFor="let dataObj of eqTableDisplay; let i = index">
						<td>
							<div class="d-flex brekdown_more">
								<h4 style="text-decoration: underline;">
									{{dataObj.INSTRUMENTNAME}}</h4>

								
								<!-- <a href="javascript:void(0)" (click)="myBreakdown('1')"><img
											src="assets/imgs/more_dot.svg"></a> -->

								<!-- <div class="breakdown_more_box d-none">
									<div class="breakdown_grid d-flex align-center">
										<img src="assets/imgs/breakdown_icon.svg">
										<span (click)="breakdownTable()">Breakdown</span>
									</div>
									<div class="breakdown_grid d-flex align-center">
										<img src="assets/imgs/stock_details_icon.svg">
										<span>Stock Details</span>
									</div>

								</div> -->

							</div>
							<!-- <p><span class="green-block">Earn 3.0% in 6 days</span></p> -->
						</td>
						<td>
							<p>{{displayQty(dataObj.QUANTITY)}}</p>
						</td>
						<td>
							<p>{{dataObj.AVGPURCHASEPRICE | formatNumerDecimal}}</p>
						</td>
						<td>
							<p>{{dataObj.HOLDINGCOST | formatNumerDecimal}}</p>
						</td>
						<td>
							<p> {{dataObj.PreviousClosingPrice | formatNumerDecimal}} </p>
						</td>
						<td>
							<p>{{dataObj.MARKETVALUE | formatNumerDecimal}}</p>
						</td>
						<td>
							<p class="green-text">
								<span
									[ngStyle]="{'color':dataObj.UNREALIEDGL == 0  ? '#656565' : dataObj.UNREALIEDGL > 0 ? '#17C257' : '#F55858'}">
									{{dataObj.UNREALIEDGL | formatNumerDecimal}}
								</span>
								<!-- <span
									[ngStyle]="{'color':dataObj.UNRLGAINLOSSPER == 0  ? '#656565' : dataObj.UNRLGAINLOSSPER > 0 ? '#17C257' : '#F55858'}">
									
								</span> -->
							</p>
						</td>
						<td>
							<p [ngStyle]="{'color':dataObj.UNRLGAINLOSSPER == 0  ? '#656565' : dataObj.UNRLGAINLOSSPER > 0 ? '#17C257' : '#F55858'}">{{dataObj.UNRLGAINLOSSPER | formatNumerDecimal}}%</p>
						</td>
					</tr>
				</tbody>

				<tbody *ngIf="eqTableDisplay.length == 0">
					<tr>
						<td colspan="7" style="text-align: center;">
							No Records Found
						</td>
					</tr>
				</tbody>

				<!-- <tr>
				<td>
					<h4>LAURUSLABS</h4>
					<p><span class="purple-block">Dividend: June 02, 2023</span></p>
				</td>
				<td>
					<p>99</p>
				</td>
				<td>
					<p>1,456.75</p>
				</td>
				<td>
					<p>6,748.89</p>
				</td>
				<td>
					<p>2,678.99</p>
				</td>
				<td>
					<p>60,202.34</p>
				</td>
				<td>
					<p class="green-text">+22,281.98 <span>+12.41%</span></p>
				</td>
				<td>
					<p class="green-text">+6.71%</p>
				</td>
			</tr> -->
			</table>
			<div class="mob-data-table d-none">
				<div class="modal-head d-flex align-center">
					<h4>Details</h4>
					<a href="javascript:void(0)" class="close_btn" onclick="CloseForm('.mob-data-table')">
						<img src="assets/imgs/close_btn.svg"></a>
				</div>
				<table>
					<tr>
						<th>Scrip Name</th>
						<td>BSOFT</td>
					</tr>
					<tr>
						<th>Qty</th>
						<td>300</td>
					</tr>
					<tr>
						<th>Purchase Price</th>
						<td>520.78</td>
					</tr>
					<tr>
						<th>Invested Value</th>
						<td>30.56 K</td>
					</tr>
					<tr>
						<th>Current Price</th>
						<td>678.22</td>
					</tr>
					<tr>
						<th>Current Value</th>
						<td>6.79L</td>
					</tr>
					<tr>
						<th>Net Profit/ Loss</th>
						<td>+6,65,899.67</td>
					</tr>
					<tr>
						<th>XIRR %</th>
						<td>+3.60%</td>
					</tr>
				</table>
			</div>
		</div>

		<!-- Mutual Fund Tab View -->
		<div class="tab-content-block table-2 responsive-scroll">
			<div class="tableFilter chart-switch-tab responsive-scroll d-flex inner-tapPanel">

				<ion-row>
					<ion-segment scrollable class="header-segment-bottom" mode="md" [(ngModel)]="clientBlockTabValue"
						(ionChange)="segmentChangeMf($event.detail.value)">
						<ion-segment-button mode="md" value="EquityData">
							Equity
						</ion-segment-button>
						<ion-segment-button value="elss">
							ELSS
						</ion-segment-button>
						<ion-segment-button value="debt">
							Debt
						</ion-segment-button>
						<ion-segment-button value="hybrid">
							Hybrid
						</ion-segment-button>
						<ion-segment-button value="liquid">
							Liquid
						</ion-segment-button>
					</ion-segment>
				</ion-row>
			</div>
			<table id="scriptableData mf_equity">
				<thead>
					<tr>
						<th>Scrip Name</th>
						<th style="text-align: right;">Units</th>
						<th>Invested Value</th>
						<th>Current Value</th>
						<th style="text-align: center;">NAV</th>
						<th>Net Profit/ Loss</th>
						<th>P&L %</th>
						<!-- <th>XIRR %</th> -->
					</tr>
				</thead>

				<thead *ngIf="mfTableDisplay.length > 0">
					<tr *ngFor="let dataObj of mfTableDisplay; let i = index">
						<td>
							<div class="d-flex brekdown_more">
								<h4>{{dataObj.Scheme_Name}}</h4>
								<!-- <h4 style="text-decoration: underline;">{{dataObj.Scheme_Name}}</h4>
									<a href="javascript:void(0)" (click)="myBreakdown('2')"><img
											src="assets/imgs/more_dot.svg"></a>
									<div class="breakdown_more_box d-none" id="breakDown1">
										<div class="breakdown_grid d-flex align-center">
											<img src="assets/imgs/breakdown_icon.svg">
											<span (click)="breakdownTable()">Breakdown</span>
										</div>
										<div class="breakdown_grid d-flex align-center">
											<img src="assets/imgs/stock_details_icon.svg">
											<span>Stock Details</span>
										</div>
	
									</div> -->
							</div>
							<!-- <p><span class="green-block">Earn 3.0% in 6 days</span></p> -->
						</td>
						<td>
							<p>{{dataObj.Present_Units | formatNumerDecimal}}</p>
						</td>
						<td>
							<p>{{dataObj.Current_Investment | formatNumerDecimal}}</p>
						</td>
						<td>
							<p>{{dataObj.Present_Value | formatNumerDecimal}}</p>
						</td>
						<td>
							<p>{{dataObj.Present_NAV | formatNumerDecimal}}</p>
						</td>
						<td>
							<p [ngStyle]="{'color':dataObj.Unrealized_Profit == 0  ? '#656565' : dataObj.Unrealized_Profit > 0 ? '#17C257' : '#F55858'}"
								class="green-text">
								{{dataObj.Unrealized_Profit | formatNumerDecimal}}
								<!-- <span>{{dataObj.Realized_Profit}}%</span> -->
							</p>
						</td>
						<td>
							<p [ngStyle]="{'color':dataObj.pnlValue == 0  ? '#656565' : dataObj.pnlValue > 0 ? '#17C257' : '#F55858'}"
								class="green-text">
								{{dataObj.pnlValue | formatNumerDecimal}}
								<!-- <span>{{dataObj.Realized_Profit}}%</span> -->
							</p>
						</td>
						<!-- <td>
							<p class="green-text">{{dataObj.XIRR | formatNumerDecimal}}%</p>
						</td> -->
					</tr>
				</thead>

				<tbody *ngIf="mfTableDisplay.length == 0">
					<tr>
						<td colspan="7" style="text-align: center;">
							No Records Found
						</td>
					</tr>
				</tbody>



			</table>
			<div class="mob-data-table d-none">
				<h4>Details</h4>
				<table>
					<tr>
						<th>Scrip Name</th>
						<td>BSOFT</td>
					</tr>
					<tr>
						<th>Qty 1</th>
						<td>300</td>
					</tr>
					<tr>
						<th>Purchase Price</th>
						<td>520.78</td>
					</tr>
					<tr>
						<th>Invested Value</th>
						<td>30.56 K</td>
					</tr>
					<tr>
						<th>Current Price</th>
						<td>678.22</td>
					</tr>
					<tr>
						<th>Current Value</th>
						<td>6.79L</td>
					</tr>
					<tr>
						<th>NET Profit/ Loss</th>
						<td>+6,65,899.67</td>
					</tr>
					<tr>
						<th>XIRR %</th>
						<td>+3.60%</td>
					</tr>
				</table>
			</div>
		</div>

		<!-- Fixed Deposit Tab View -->
		<div class="tab-content-block table-3 responsive-scroll">
			<table id="scriptableData">
				<thead>
					<tr>
						<th style="text-align: left;">Company Name</th>
						<th>Tenure</th>
						<th>Date of Investment</th>
						<th>Invested Value</th>
						<th>ROI</th>
						<th>Maturity Date</th>
						<!-- <th>Mode of Interest/ IP</th> -->
						<!-- <th>XIRR %</th> -->
					</tr>
				</thead>

				<tbody *ngIf="fdTableDisplay.length > 0">
					<tr *ngFor="let dataObj of fdTableDisplay; let i = index">
						<td>
							<div class="d-flex brekdown_more">
								<h4>{{dataObj.FDCompany}}</h4>
							</div>
							<!-- <p><span class="green-block">Earn 3.0% in 6 days</span></p> -->
						</td>
						<td>
							<p>{{dataObj.Tenor}}</p>
						</td>
						<td>
							<p>{{moment(dataObj.FDBookingDate).format('DD/MM/YYYY')}}</p>
						</td>
						<td>
							<p>{{dataObj.FDBookingAmount | formatNumerDecimal}}</p>
						</td>
						<td>
							<p>{{dataObj.RateOfInterest}}</p>
						</td>
						<td>
							<p> {{moment(dataObj.FDMaturityDate).format('DD/MM/YYYY')}} </p>
						</td>
						<!-- <td>
							<p>--</p>
						</td> -->

					</tr>
				</tbody>
				<tbody *ngIf="fdTableDisplay.length == 0">
					<tr>
						<td colspan="6" style="text-align: center;">
							No Records Found
						</td>
					</tr>
				</tbody>
			</table>

		</div>
		<!-- Bonds Tab View -->
		<div class="tab-content-block table-4 responsive-scroll">
			<table id="scriptableData">
				<thead>
					<tr>
						<th style="text-align: left;">Bond Name</th>
						<th>Tenure</th>
						<th>Date of Investment</th>
						<th>Invested Value</th>
						<th>ROI</th>
						<th>Maturity Date</th>
					</tr>
				</thead>

				<tbody *ngIf="bondsTableDisplay.length > 0">
					<tr *ngFor="let dataObj of bondsTableDisplay; let i = index">
						<td>
							<div class="d-flex brekdown_more">
								<h4>{{dataObj.BondCompany}}</h4>
							</div>
							<!-- <p><span class="green-block">Earn 3.0% in 6 days</span></p> -->
						</td>
						<td>
							<p>{{dataObj.Tenor}}</p>
						</td>
						<td>
							<p>{{dataObj.AUMDATE}}</p>
						</td>
						<td>
							<p>{{dataObj.BondAmount | formatNumerDecimal}}</p>
						</td>
						<td>
							<p>{{dataObj.Rateofinterest}}</p>
						</td>
						<td>
							<p> {{moment(dataObj.BondMaturityDate).format('DD/MM/YYYY')}} </p>
						</td>
					</tr>
				</tbody>
				<tbody *ngIf="bondsTableDisplay.length == 0">
					<tr>
						<td colspan="6" style="text-align: center;">
							No Records Found
						</td>
					</tr>
				</tbody>
			</table>

		</div>
		<!-- AIF Tab View -->
		<div class="tab-content-block table-5 responsive-scroll">
			<table id="scriptableData">
				<thead>
					<tr>
						<th style="text-align: left;">Scheme Name</th>
						<th>AUM Date</th>
						<th>Invested Value</th>
						<th>Current Value</th>
						<th>Commitment Amount</th>
						<th>Net P&L</th>
						<th>P&L%</th>
					</tr>
				</thead>

				<tbody *ngIf="aifTableDisplay.length > 0">
					<tr *ngFor="let dataObj of aifTableDisplay; let i = index">
						<td>
							<div class="d-flex brekdown_more">
								<h4>{{dataObj.SCHEMENAME}}</h4>
							</div>
							<!-- <p><span class="green-block">Earn 3.0% in 6 days</span></p> -->
						</td>
						<td>
							<p>{{dataObj.AUMDATE}}</p>
						</td>
						<td>
							<p>{{dataObj.NETINVESTMENT | formatNumerDecimal}}</p>
						</td>
						<td>
							<p>{{dataObj.CRRENTVALUE | formatNumerDecimal}}</p>
						</td>
						<td>
							<p>{{dataObj.COMMITMENTAMOUNT  | formatNumerDecimal}}</p>
						</td>
						<td>
							<p
								[ngStyle]="{'color':dataObj.netpl == 0  ? '#656565' : dataObj.netpl > 0 ? '#17C257' : '#F55858'}">
								{{dataObj.netpl | formatNumerDecimal}}</p>
						</td>
						<td>
							<p
								[ngStyle]="{'color':dataObj.plPer == 0  ? '#656565' : dataObj.plPer > 0 ? '#17C257' : '#F55858'}">
								{{dataObj.plPer | formatNumerDecimal }}</p>
						</td>
					</tr>
				</tbody>
				<tbody *ngIf="aifTableDisplay.length == 0">
					<tr>
						<td colspan="6" style="text-align: center;">
							No Records Found
						</td>
					</tr>
				</tbody>
			</table>

		</div>
		<!-- PMS Tab View -->
		<div class="tab-content-block table-6 responsive-scroll">
			<table id="scriptableData">
				<thead>
					<tr>
						<th style="text-align: left;">Scheme Name</th>
						<th>AUM Date</th>
						<th>Invested Value</th>
						<th>Current Value</th>
						<th>Net P&L</th>
						<th>P&L%</th>
					</tr>
				</thead>

				<tbody *ngIf="pmsTableDisplay.length > 0">
					<tr *ngFor="let dataObj of pmsTableDisplay; let i = index">
						<td>
							<div class="d-flex brekdown_more">
								<h4>{{dataObj.SCHEMENAME}}</h4>
							</div>
							<!-- <p><span class="green-block">Earn 3.0% in 6 days</span></p> -->
						</td>
						<td>
							<p>{{moment(dataObj.CREATEDON).format('DD/MM/YYYY')}}</p>
						</td>
						<td>
							<p>{{dataObj.NETINVESTMENT | formatNumerDecimal}}</p>
						</td>
						<td>
							<p>{{dataObj.CRRENTVALUE | formatNumerDecimal}}</p>
						</td>
						<td>
							<p
								[ngStyle]="{'color':dataObj.netpl == 0  ? '#656565' : dataObj.netpl > 0 ? '#17C257' : '#F55858'}">
								{{dataObj.netpl | formatNumerDecimal}}</p>
						</td>
						<td>
							<p
								[ngStyle]="{'color':dataObj.plPer == 0  ? '#656565' : dataObj.plPer > 0 ? '#17C257' : '#F55858'}">
								{{dataObj.plPer | formatNumerDecimal }}</p>
						</td>
					</tr>
				</tbody>
				<tbody *ngIf="pmsTableDisplay.length == 0">
					<tr>
						<td colspan="6" style="text-align: center;">
							No Records Found
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="social-link mt-40">
			<ul class="d-flex align-center">
				<!-- <li><img src="assets/imgs/pdf.svg"></li> -->
				<!-- <li><a href="#"><img src="assets/imgs/xls.svg"></a></li>
					<li><a href="#"><img src="assets/imgs/message.svg"></a></li>
					<li><a href="#"><img src="assets/imgs/whatappgreen-.svg"></a></li> -->
			</ul>
		</div>
	</div>
	
	<div class="tableoverlay d-none" onclick="tableDetaildclose()"></div>
		<div class="addmemeberForm d-none modal-box">
			<div class="modal-head d-flex">
				<div class="modal-title">Add Family Member</div>
				<a href="javascript:void(0)" class="close_btn" (click)="closeForm()">
					<img src="assets/imgs/close_btn.svg"></a>
			</div>
			<div class="modal-body">
				<div class="modal-content">
					<div class="otp_section_main" id="memberPop">
						<h2>OTP sent to your family member’s registered
							mobile number.</h2>

						<form class="addmemberfrom_box" *ngIf="displayStep1">
							<div class="form-group">
								<label for="clientid">Family Member’s Client ID</label>
								<input type="clientid" class="form-control" id="clientId" [(ngModel)]="memberClientCode"
									[ngModelOptions]="{standalone: true}">
							</div>
							<div class="form-group">
								<label for="Relation">Family Member’s Relation</label>
								<select class="form-control" id="Relation" [(ngModel)]="selectRelation"
									[ngModelOptions]="{standalone: true}">
									<option value="Brother">Brother</option>
									<option value="Son">Son</option>
									<option value="Father">Father</option>
									<option value="Mother">Mother</option>
									<option value="Spouse">Spouse</option>
									<option value="Other">Other</option>
								</select>
							</div>
							<button type="submit" id="memberBtn" class="btn btn-default orange-btn"
								(click)="addMemberFormnext()">Continue</button>
						</form>
						<form class="addmemberfrom_box verification-code" *ngIf="displayStep2">
							<div class="verification_code_inputs d-flex">
								<code-input #codeInput [isCodeHidden]="false" [codeLength]="6" [code]="otpInput"
									[initialFocusField]="0" (codeChanged)="onOtpChanged($event)"
									(codeCompleted)="onotpFieldCompleted($event)">
								</code-input>
								<!-- <input type="number" id="text1" maxlength="1" />
							<input type="number" id="text2" maxlength="1" />
							<input type="number" id="text2" maxlength="1" />
							<input type="number" maxlength="1" />
							<input type="number" maxlength="1" />
							<input type="number" maxlength="1" /> -->
							</div>
							<span class="error d-flex">Please enter a valid OTP</span>
							<span class="otp_msg">Didn’t receive the OTP? Retry in <span> 00:59 secs</span></span>

							<button type="submit" class="btn btn-default orange-btn" [disabled]="verifyBtn"
								(click)="verifyMember()">Verify</button>
						</form>
					</div>
					<div class="add_member_successfully" *ngIf="displayStep3">
						<img src="assets/imgs/acc-details/img/member_success.svg">
						<span>Your family member added successfully</span>
						<button type="submit" class="btn btn-default orange-btn" (click)="closeForm()">Done</button>
					</div>
				</div>
			</div>
		</div>


		<div class="breakdownTable d-none modal-box">
			<div class="modal-head d-flex align-center">
				<div class="modal-title">BSOFT <span class="green-block d-flex">Earn 3.0% in 6 days</span></div>
				<a href="javascript:void(0)" class="close_btn" (click)="closeBreakdown()">
					<img src="assets/imgs/close_btn.svg"></a>
			</div>
			<div class="modal-body">
				<div class="modal-content">
					<table class="tab-content-bloc" id="scriptableData">
						<tbody>
							<tr>
								<th>Account</th>
								<th>Quantity</th>
								<th>Invested Value</th>
								<th>PL</th>
								<th>PL %</th>
							</tr>
							<tr>
								<td>RACHITTT</td>
								<td>10</td>
								<td>123456</td>
								<td>1320.2</td>
								<td>3.78%</td>
							</tr>
							<tr>
								<td>UTKARSH5</td>
								<td>10</td>
								<td>123456</td>
								<td>1320.2</td>
								<td>3.78%</td>
							</tr>
							<tr>
								<td>PCSWATI5</td>
								<td>10</td>
								<td>123456</td>
								<td>1320.2</td>
								<td>3.78%</td>
							</tr>
							<tr>
								<td>CHINMODI</td>
								<td>10</td>
								<td>123456</td>
								<td>1320.2</td>
								<td>3.78%</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>
		</div>
</div>


<!-- <div [innerHTML]="htmlData" id="content" style="overflow: auto;font-family: 'Inter', sans-serif"></div> -->
<div [innerHTML]="htmlData" id="content" style="overflow: auto;	
    position: absolute;	font-family:'Inter', sans-serif;
    top: 0;	
    z-index: -1;height: 0;"></div>

<div style="height: 170px; width: 170px;position: absolute;	top: 0;	 z-index: -1;">
    <canvas baseChart  #familyMemberPDFGraph id="familyMemberPDFGraph"
        [datasets]="pdfFamilyData"
        [labels]="pdfFamilyLabels"
        [options]="pdfChartOptions"
        [type]="'doughnut'"
    ></canvas>
</div>

<div style="height: 170px; width: 170px;position: absolute;	top: 0;	 z-index: -1;">
    <canvas baseChart  #productWise id="productWise"
        [datasets]="pdfproductWiseData"
        [labels]="pdfproductWiseLabels"
        [options]="pdfChartOptions"
        [type]="'doughnut'"
    ></canvas>
</div>

<!-- <div [innerHTML]="htmlData" id="content" style="overflow: auto;" ></div> -->