<div class="desktop-visibility card_details_pop">
    <div class="modal_title">
         <span>Become A Partner</span>
         <div class="pop_close" (click)="dismiss()"><img src="assets/svg/close_black.svg" width="18" alt="close"></div>
     </div>
     <div class="quick-madal-inner">
        <div>
            <h4>This feature is not available for you. Click below to become a partner and gain access</h4>
            <ion-button class="w-150 become-ptr-btn" (click)="redirectTo('register')">Continue Onboarding</ion-button>
        </div>
     </div>
 </div>
<div class="mobile-visibility card_details_pop">
    <div class="modal_title">
         <span>Become A Partner</span>
         <div class="pop_close" (click)="dismiss()"><img src="assets/svg/close_black.svg" width="18" alt="close"></div>
     </div>
     <div class="quick-madal-inner">
        <div>
            <h4>This feature is not available for you. Click below to become a partner and gain access</h4>
            <ion-button class="w-150 become-ptr-btn" (click)="redirectTo('register')">Continue Onboarding</ion-button>
        </div>
     </div>
 </div>