<ion-content *ngIf="!isShowRMlogin">
	<div class="login-container">
		<div class="mobile-content-section">
			<div class="mobile-img">
				<img src="./assets/imgs/login-mobile.png" alt="">
			</div>

			<div class="content-section">
				<p>It's AAA LL <br>You Need To Be An Independent Financial Advisor.</p>
				<ion-button shape="round" fill="outline" class="buy-now"
					(click)="navigateLink('https://www.indiainfoline.com/business-partners/aaa-advisor-anytime-anywhere.html')">
					Buy Now</ion-button>
			</div>
		</div>
		<!-- old design  -->
		<ion-card class="login-field-section" style="display: none;">
			<form [formGroup]="validateForm" class="login-form" (keydown)="keyDownFunction($event)">
				<div class="login-fields">
					<div class="logo">
						<img src="assets/svg/login_logo.svg" alt="">
					</div>
					<div class="field-block">
						<ion-item lines="none">
							<div class="field m-b-16">
								<ion-label [ngClass]="{'focus-label': isFocusUser}">User ID</ion-label>

								<ion-input [ngClass]="{'focus-input': isFocusUser}" formControlName="userID" type="text"
									(ionFocus)="focusUser()" label="" (ionBlur)="focusOutUser($event)"
									autocomplete="off"></ion-input>
							</div>
						</ion-item>
						<div class="error-block m-t-16">
							<span *ngIf="flagValidUser && !validateForm.invalid" style="color: red;">Please Enter the
								valid mobile number</span>
						</div>
					</div>
					<div (click)="existingLogin()" class="new-user">
						<a>
							<span style="cursor: pointer;">Existing User? Login</span>
						</a>
					</div>
				</div>
			</form>
			<div class="graph-img">
				<span class="version mobile-visibility">v {{version}}</span>
				<img src="./assets/imgs/login-graph.png" alt="">
			</div>
		</ion-card>
		<!-- end -->
		<!-- new code for login mobile screen first time login -->
		<ion-card class="login-field-section visible-for-mibile-screen">
			<form [formGroup]="validateForm" class="login-form" (keydown)="keyDownFunction($event)">
				<div class="login-fields login-fields-mobile-updated">
					<div class="logo logo-with-bg">
						<img src="assets/svg/login_logo_mobile.svg" alt="">
					</div>
					<div class="welcome-section">
						<span class="welcome">Welcome To AAA</span>
						<span class="start">Let’s get started</span>
					</div>
					<div class="field-block m-t-30 first-screen">
						<ion-item lines="none">
							<div class="field m-b-16">
								<ion-label class="updated-label" [ngClass]="{'focus-label': isFocusUser}">Mobile
									No.</ion-label>
								<ion-input class="updated-input" [ngClass]="{'focus-input': isFocusUser}"
									formControlName="userID" label="" type="text" (ionFocus)="focusUser1()"
									(keyup)="checkValidation($event)" autocomplete="off"></ion-input>
								<a (click)="focusOutUser1($event)" class="login-arrow"> <img
										src="assets/svg/login_right_arrow.svg" alt=""></a>
							</div>
						</ion-item>
						<div class="error-block upper-validation">
							<span class="error-message" *ngIf="UserIdFieldError"
								style="font-size: small">{{UserIdFieldError}}</span>
						</div>
					</div>
					<div (click)="existingLogin()" class="new-user">
						<a>
							<span style="cursor: pointer;">Existing User? Login</span>
						</a>
					</div>
					<div style="padding: 20px;" *ngIf="isApp">
						<ion-button class="btn-outline-primary" (click)="redirectTo('register')">
							Become a Partner
						</ion-button>
					</div>
				</div>
			</form>
			<div class="graph-img graph-img-mobile">
				<span class="version mobile-visibility">v {{version}}</span>
				<a href="javascript:void(0)" (click)="redirectTo('support')" class="help">Help</a>
			</div>
		</ion-card>
		<!-- end -->

		<!-- new code for login mobile otp screen -->
		<ion-card class="login-field-section visible-for-mibile-screen mobile-otp-screen" *ngIf="optStatus">
			<form [formGroup]="validateForm" class="login-form" (keydown)="keyDownFunction($event)">
				<div class="login-fields login-fields-mobile-updated">
					<div class="logo logo-with-bg">
						<img src="assets/svg/login_logo_mobile.svg" alt="">
					</div>
					<div class="welcome-section">
						<img src="assets/svg/updated_back.svg" class="updated-back" alt="" (click)="backFromOtop()">
						<span class="welcome">Hello,</span>
						<span class="welcome">{{ userName ? userName : userID1}}</span>
					</div>
					<div class="opt-section">
						<div class="message">Enter {{otpMsgDisplay}}</div>
						<div class="form-group otp-form newClassOTP">
							<ion-item-group class="ion-item-group">
								<code-input #codeInput [isCodeHidden]="false" [codeLength]="6" [code]="otpInput"
									[initialFocusField]="0" (codeChanged)="onOtpChanged($event)"
									(codeCompleted)="onotpFieldCompleted($event)">
								</code-input>
							</ion-item-group>
							<div class="message-otp"><span class="resendOtp"
									[ngClass]="{'resend': resendTimer === null}" (click)="resetOtpClick()">Resend
									OTP</span> <span *ngIf="resendTimer !== null"> ({{this.resendTimer}}) </span></div>
						</div>
					</div>
				</div>
			</form>
		</ion-card>
		<!-- end -->
		<!-- new code for login mobile screen for successful login -->
		<ion-card class="login-field-section visible-for-mibile-screen" *ngIf="successfulLogin">
			<div class="login-form">
				<div class="login-fields login-fields-mobile-updated">
					<div class="logo logo-with-bg">
						<img src="assets/svg/login_logo_mobile.svg" alt="">
					</div>
					<div class="successful-login mobile-visibility" *ngIf="successfulLogin">
						<div class="ion-icon">
							<img src="assets/svg/successful.svg" alt="">
						</div>
						<div class="success-message">
							Your OTP verified successfully! Logging you in…
						</div>
					</div>
				</div>
			</div>
		</ion-card>
		<!-- end -->
		<!-- for web  -->
		<ion-card class="login-field-section visible-for-web-screen">
			<form [formGroup]="validateForm" class="login-form" (keydown)="keyDownFunction($event)">
				<div class="login-fields">
					<div class="logo">
						<img src="assets/svg/login_logo.svg" alt="">
					</div>
					<!-- new code first time login for web -->
					<div *ngIf="firstTimeLogin" class="width-100">
						<div class="field-block m-t-30 first-screen">
							<ion-item lines="none">
								<div class="field m-b-16">
									<ion-label class="updated-label"
										[ngClass]="{'focus-label': isFocusUser}">{{userTypeTitle}}</ion-label>
									<ion-input class="updated-input" [ngClass]="{'focus-input': isFocusUser}"
										formControlName="userID" type="text" label="" (ionFocus)="focusUser1()"
										(keyup)="checkValidation($event)" autocomplete="off"></ion-input>
								</div>
							</ion-item>
							<div class="error-block upper-validation">
								<span class="error-message" *ngIf="UserIdFieldError"
									style="font-size: small">{{UserIdFieldError}}</span>
							</div>
						</div>
						<div class="login-btn login-button-updated">
							<ion-button shape="round" *ngIf="!clip_infl" (click)="next(true)">Next</ion-button>
						</div>

						<div (click)="existingLogin()" class="new-user updated-new-user">
							<a>
								<span style="cursor: pointer;">Existing User? Login</span>
							</a>
						</div>
					</div>
					<!-- end -->
					<!-- new code for opt screen -->
					<div class="opt-section" *ngIf="optStatus">
						<div class="message">{{otpMsgDisplay}}</div>
						<div class="form-group otp-form newClassOTP">

							<ion-item-group class="ion-item-group">
								<code-input #codeInput [isCodeHidden]="false" [codeLength]="6" [initialFocusField]="0"
									(codeChanged)="onOtpChanged($event)" (codeCompleted)="onotpFieldCompleted($event)">
								</code-input>
							</ion-item-group>

							<div class="message-otp"><span class="resendOtp"
									[ngClass]="{'resend': resendTimer === null}" (click)="resetOtpClick()">Resend
									OTP</span> <span *ngIf="resendTimer !== null"> ({{this.resendTimer}}) </span> </div>
							<ion-button class="opt-submit" [disabled]="!submitOtpBtn" *ngIf="!clip_infl"
								(click)="submitOtp()" [ngClass]="{'valid-submit': submitOtpBtn }">Submit</ion-button>
							<!-- <ion-button class="opt-submit" [disabled]="!submitOtpBtn" *ngIf="clip_infl"
								(click)="infllogin()" [ngClass]="{'valid-submit': submitOtpBtn }">Login</ion-button> -->
							<a class="back" (click)="goBackScreen()">Back</a>
						</div>
					</div>
					<!-- end -->
					<!-- new code for successful login -->
					<div class="successful-login" *ngIf="successfulLogin">
						<div class="ion-icon">
							<img src="assets/svg/successful.svg" alt="">
						</div>
						<div class="success-message">
							Your OTP verified successfully! Logging you in…
						</div>
					</div>
					<!-- end -->
				</div>
			</form>
			<div class="graph-img">
				<img src="./assets/imgs/login-graph.png" alt="">
			</div>
		</ion-card>
		<!-- end -->
	</div>
	<div class="loader1" *ngIf="isLoader">
		<img src="/assets/imgs/loader4.gif" alt="" width="100px">
	</div>
</ion-content>
<div class="loader" *ngIf="loader">
	<img src="/assets/imgs/loader.gif" alt="">
</div>