<div class="desktop-visibility">
	<div class="web-equity thin-scroll">
		<div class="header-table">
			<table style="width: 100%" class="desktop-header-table">
				<thead>
					<tr>
						<th>
							Client ID
						</th>
						<th class="pointer" [class.active]="order === 'clientName'" (click)="setOrder('clientName')">
                            Client Name
							<img class="sorting-img updated-sorting-img" src="/assets/svg/sorting.svg" alt="">
                            <img class="sorting-img-ascending" src="/assets/svg/sorting_ascending.svg" alt="" *ngIf="ascending">
                            <img class="sorting-img-descending" src="/assets/svg/sorting_ascending.svg" alt="" *ngIf="!ascending">
						</th>
						<th>
							Folio No.
                        </th>
                        <th>
							Scheme
                        </th>
                        <th>
							SIP Amt (₹)
                        </th>
                        <th>
							Cease Date
						</th>
					</tr>
				</thead>
			</table>
		</div>
		<div class="main-table thin-scroll" (scroll)="divScroll($event)">
			<table style="width: 100%" class="mobile-table">
				<tbody *ngIf="(datas).length > 0 && dataLoad">
					<tr *ngFor="let dataObj of datas">
						<td>
							{{dataObj['clientId']}}
						</td>
						<td>
							<span style="cursor:pointer" class="hyperlinkstyle" (click)="goToClientDetails(dataObj)">{{dataObj['clientName']}}</span>
						</td>
						<td>
							{{dataObj['folio']}}
						</td>
						<td>
							{{dataObj['scheme']}}
                        </td>
                        <td>
							{{dataObj['value']}}
                        </td>
                        <td>
							{{dataObj['date']}}
						</td>
					</tr>
				</tbody>
				<div class="loader" *ngIf="(datas).length == 0 && dataLoad" style="min-height: 378px;">
					<h4>No records found.</h4>
				</div>
				<div class="loader" *ngIf="!dataLoad" style="min-height: 378px;">
					<img src="/assets/imgs/loader.gif" alt="">
				</div>
			</table>
		</div>
	</div>
</div>