.web-equity {
    .header-table {
        th {
            width: 25%;
        }
        th:nth-child(2) {
            text-align: left;
        }
    }
    .main-table {
        // max-height: 260px;
        max-height: 468px;
        overflow: auto;
        td {
            width: 25%;
        }
        td:nth-child(2) {
            text-align: left;
            font-family: 'nunitoBold';
        }
    }
}

@media screen and (max-width: 768px){
.detail-part-aum-inner .listing-part .items .wdt-remove{max-width: 30% !important;}
.detail-part-aum-inner .listing-part .items .right-part{font-size: 14px;}
}
