<ion-header>
	<ion-toolbar color="tertiary" class="mobile-visibility">
	  <div class="title-block title-block-custom">
		<div class="icon-title">
		  <ion-icon name="arrow-back-outline" class="back-button" (click)="goBack()"></ion-icon>
		  <ion-title class="title">Freeze Details</ion-title>
		</div>
	  </div>
	</ion-toolbar>
  </ion-header> 
<div class="desktop-visibility">
    <br>
	<div class="container"  *ngIf="freezeReason !== null && freezeReason !== undefined">
    <div class="search-section-reports search-section scriptwise">
        <div class="d-flex">
          <ion-searchbar class="custom-searchbar" placeholder="Search Client Code" [debounce]="1000"
          (ngModelChange)="searchText($event)" [(ngModel)]="searchValue">
          </ion-searchbar>
        </div>
        <div class="section download_file ">
            <div class="option-type-freeze" (click)="onPdfExcelDownload('pdf')">
                <img src="assets/svg/pdf.svg" alt="">
                <span class="tooltiptext">
                    <span>Download Report</span>
                </span>
            </div>
        <div class="option-type-freeze" (click)="onPdfExcelDownload('excel')">
            <img src="assets/svg/download_excel.svg" alt="">
            <span class="tooltiptext">
                <span>Download Report</span>
            </span>
        </div>
      </div>
    </div>

    <div class="web-freeze-details" *ngIf="!dataLoad">
		<div class="header-table">
			<table class="desktop-header-table" style="width: 100%;">
				<thead>
					<tr>
						<th>
							Client Code
						</th>
                        <th>
							Freeze Reason
						</th>
						<th [class.active]="order === 'FreezeDate'" class="pointer" (click)="setOrder('FreezeDate')">
							Freeze Date
                            <img class="sorting-img updated-sorting-img" src="/assets/svg/sorting.svg" alt="">
                            <img class="sorting-img-ascending" src="/assets/svg/sorting_ascending.svg" alt=""
                                *ngIf="ascending">
                            <img class="sorting-img-descending" src="/assets/svg/sorting_ascending.svg" alt=""
                                *ngIf="!ascending">
						</th>
						<th>
							Group Code
						</th>
					</tr>
				</thead>
			</table>
		</div>
		<div class="body">
			<table class="desktop-body-table" style="width: 100%;">
				<tbody *ngIf="freezeDeatilsList.length > 0">

					<tr *ngFor="let dataObj of freezeDeatilsList | orderBy: order:val; let i = index">
						<td>
							{{dataObj.Clientcode}}
						</td>
						<td>
							{{dataObj.FreezeReason}}
						</td>
						<td>
              {{dataObj['FreezeDate'] ? formatChange(dataObj['FreezeDate']) : '-'}}
						</td>
						<td>
							{{dataObj.wirecode}}
						</td>
					</tr>
				</tbody>
				<tbody class="desktop-body-table" *ngIf="freezeDeatilsList.length === 0 && !dataLoad">
					<tr>
						<td class="no-data-found">No Records Found</td>
					</tr>
				</tbody>
			</table>
		<br>
		<br>
		</div>

	</div>

    <div *ngIf="dataLoad" class="overlay-div">
		<div style="position:absolute;top:30%; left:50%" *ngIf="dataLoad">
			<img style="width:30px" src="/assets/imgs/loader.gif" alt="">
		</div>
	 </div>
	</div>
</div>

<ion-content>
    <div class="mobile-visibility">
        <div class="search-section-reports search-section scriptwise" *ngIf="!dataLoad">
          <div class="d-flex spacing">
              <ion-searchbar class="custom-searchbar" placeholder="Search Client Code" [debounce]="1000"
              (ngModelChange)="searchText($event)" [(ngModel)]="searchValue">
              </ion-searchbar>
          </div>
			<div class="download_file">
				<div (click)="onPdfExcelDownload('pdf')">
				<img src="assets/svg/pdf.svg" alt="" style="width: 30px;">            
				</div>
				<div (click)="onPdfExcelDownload('excel')">
				<img src="assets/svg/download_excel.svg" alt="" style="width: 30px;">            
				</div>
			</div>
        </div>
        <!-- <div class="section download_file" *ngIf="freezeDeatilsList.length > 0 && !dataLoad">
          <div class="option-type-client-margin-report" (click)="onPdfExcelDownload('excel')">
              <img src="assets/svg/download_excel.svg" alt="">
              <span class="tooltiptext" style="width: 100px !important;">
                  <span style="font-size: 10px;">Download Report</span>
              </span>
          </div>
        </div> -->
        <div class="grid_main" *ngIf="freezeDeatilsList.length > 0 && !dataLoad">
          <div class="table_grid_box" *ngFor="let dataObj of freezeDeatilsList; let i = index">
          <div class="table_grid">
            <label>Client Code</label>
            <span> {{ dataObj.Clientcode }} </span>
          </div>
    
          <div class="table_grid">
            <label>Group Code</label>
            <span> {{dataObj.wirecode}} </span>
          </div>
    
          <div class="table_grid">
            <label>Freeze Date</label>
            <span> {{dataObj['FreezeDate'] ? formatChange(dataObj['FreezeDate']) : '-'}} </span>
          </div>
          
          <div class="table_grid">
			<label>Freeze Reason</label>
            <span> {{dataObj.FreezeReason}} </span>
          </div>
          
        </div>
        
        </div>
    
        <div *ngIf="dataLoad" class="overlay-div">
          <div style="position:absolute;top:30%; left:48%" *ngIf="dataLoad">
            <img style="width:30px" src="/assets/imgs/loader.gif" alt="">
          </div>
        </div>
    
        <div *ngIf="freezeDeatilsList.length == 0 && !dataLoad" style="margin-top: 150px;">
          <div class="text-center tableLoader"> <img class="raise-image" src="assets/svg/not_raised.svg" alt="">
            <div class="raise-message">No Data</div>
          </div>
        </div>
    
    </div>
</ion-content>