<div class="open-account-main d-flex desktop-visibility">
    <div class="d-flex iy-aum">
       <img src="assets/svg/increase-aum.svg" alt="increase-aum">
       <span>Increase your AUM</span>
       </div>
       <div class="open-account-btn">Open Account</div>
   

   </div>
   <div class="market-updates-box right-gr-mb">
    <swiper-container [autoplay]="check"  direction="vertical" loop="true" >
        <swiper-slide>
   <div class="market-updates-grid">
        <div>
        <span class="market-type-value d-flex"><strong>NIFTY</strong> 18,567.60</span>
        <span class="market-position negative d-flex ion-align-items-center"><img src="assets/svg/negative-arrow.svg" alt="negative-arrow">55.60 (-5.6%)</span>
        </div>
        <div>
            <span class="market-type-value d-flex"><strong>SENSEX</strong> 18,567.60</span>
            <span class="market-position positive d-flex ion-align-items-center"><img src="assets/svg/positive-arrow.svg" alt="positive-arrow">55.60 (-5.6%)</span>
            </div>
    
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="market-updates-grid">
             <div>
             <span class="market-type-value d-flex"><strong>BANKNIFTY</strong> 18,567.60</span>
             <span class="market-position negative d-flex ion-align-items-center"><img src="assets/svg/negative-arrow.svg" alt="negative-arrow">55.60 (-5.6%)</span>
             </div>
             <div>
                 <span class="market-type-value d-flex"><strong>INDIAVIX</strong> 18,567.60</span>
                 <span class="market-position positive d-flex ion-align-items-center"><img src="assets/svg/positive-arrow.svg" alt="positive-arrow">55.60 (-5.6%)</span>
                 </div>
         
             </div>
         </swiper-slide>
    </swiper-container>
    </div>