.web-equity {
    .header-table {
        th {
            width: 25%;
        }
        // th:nth-child(2) {
        //     text-align: left;
        // }
    }
    .main-table {
        // max-height: 387px;
        max-height: calc(100vh - 366px);
        overflow-y: auto;
        // min-height: 250px;
        td {
            width: 25%;
        }
        td:nth-child(1) {
            text-align: left;
            font-family: 'nunitoBold';
        }
        td:nth-child(3) {
            color: #2680EB;
            font-family: 'nunitoBold';
            cursor: pointer;
        }
    }
    // td:nth-child(3), th:nth-child(3) {
    //     text-align: center !important;
    // }
    .no-data-found {
        text-align: center !important;
        height: 100px;
    }
}

.name-block {
    display: flex;
    flex-direction: column;
    .name {
        font-size: 12px;
        color: #9C9C9C;
    }
}

.nodataFoundClass{
    text-align: center;
    font-size:16px;
    font-weight: bolder;
}

@media screen and (max-width: 500px) {
    .detail-part-dashboard {
        left: 0px;
        .header-part {
            .heading {
                padding-left: 0px;
            }
        }
        .listing-part {
            // max-height: calc(100vh - 454px);
            max-height: unset;
            overflow: auto;
            .items {
                .left-part {
                    .type {
                        font-size: 16px;
                        color: #000000;
                        font-family: "nunitoBold";
                    }
                    .change-value {
                        color: #9C9C9C;
                        font-size: 13px;
                        // margin-left: 3px;
                    }
                }
                .right-part{
                    display: flex;
                    align-items: center;
                    .right-arrow {
                        top: 0px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 370px) {
    .title-block-custom {
        .icon-title {
            .title {
                span {
                    font-size: 21px;
                    position: relative;
                    top: 1px;
                }
            }
        }
    }
}