<section class="desktop-visibility">
    <div class="desktop-table overflow-hidden">
        <div class="search_and_download">
            <div class="download_file">
                <div style="float: right; cursor: pointer;" (click)="onExcelDownload()">
                    <img src="assets/svg/download_excel.svg" alt="">
                </div>
            </div>
        </div>
        <div class="table-header">
            <table class="desktop-table">

            </table>
        </div>
        <div class="main-table-1 tbClient desktop-visibility">
            <div class="table-block">
                <table class="desktop-table" *ngIf="dataLoad">
                    <thead class="width-100">
                        <tr>
                            <th class="pointer">Client Code
                            </th>
                            <th>
                                Group<br/>Code
                            </th>
                            <th>ALB
                            </th>
                            <th>MTMPL
                            </th>
                            <th>Today<br/>Span
                            </th>
                            <th>PRESPAN
                            </th>
                            <th>Networth
                            </th>
                            <th>R.Risk%</th>
                            <th>
                                Risk<br/>PERCENT
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dataObj of list; let i = index">
                            <td>
                                <div class="upper-part justify-content-start"
                                    [ngStyle]="{'margin-bottom':  styleFunc(dataObj['isVisible'],detailHeight)}">
                                    <div class="client-code-block">
                                        <span class="client-code">{{dataObj['loginid']}}</span>
                                    </div>
                                </div>
                                <div class="detail-part-fix" #detail *ngIf="dataObj['isVisible']">
                                    <div class="details_pt_inside">
                                        <div class="detail-part">
                                            <span class="detail-heading">Unclear chq</span>
                                            <span class="detail-value"> {{dataObj['UncleaerChqe'] | number : '1.2-2'}}</span>
                                        </div>
                                        <div class="detail-part">
                                            <span class="detail-heading">Equity Networth</span>
                                            <span class="detail-value">{{dataObj['Equity_Networth'] | number : '1.2-2'}}</span>
                                        </div>
                                        <div class="detail-part">
                                            <span class="detail-heading">PendingCMS</span>
                                            <span class="detail-value">{{dataObj['PendingCMS'] | number : '1.2-2'}}</span>
                                        </div>
                                        <div class="detail-part">
                                            <span class="detail-heading">ClearCHq</span>
                                            <span class="detail-value">{{dataObj['Clear_Chq'] | number : '1.2-2'}}</span>
                                        </div>
                                    </div>
                                    <div class="details_pt_inside">
                                        <div class="detail-part">
                                            <span class="detail-heading">Tender Margin</span>
                                            <span class="detail-value">{{dataObj['tndMargin'] | number : '1.2-2'}}</span>
                                        </div>
                                        <div class="detail-part">
                                            <span class="detail-heading">Clear Amt</span>
                                            <span class="detail-value">{{dataObj['clr_amt'] | number : '1.2-2'}}</span>
                                        </div>
                                        <div class="detail-part">
                                            <span class="detail-heading">UnClear Amt </span>
                                            <span class="detail-value">{{dataObj['unclr_amt'] | number : '1.2-2'}}</span>
                                        </div>
                                        <div class="detail-part">
                                            <span class="detail-heading">Branch Remark</span>
                                            <span class="detail-value">{{dataObj['Bremark']}}</span>
                                        </div>
                                    </div>

                                </div>
                            </td>
                            <td>
                                <div class="upper-part"
                                    [ngStyle]="{'margin-bottom':  styleFunc(dataObj['isVisible'],detailHeight)}">
                                    {{dataObj['cm_groupcd']}}
                                </div>
                            </td>
                            <td>
                                <div class="upper-part"
                                    [ngStyle]="{'margin-bottom':  styleFunc(dataObj['isVisible'],detailHeight)}">
                                    {{dataObj['ALB']}}
                                </div>
                            </td>
                            <td>
                                <div class="upper-part"
                                    [ngStyle]="{'margin-bottom':  styleFunc(dataObj['isVisible'],detailHeight)}">
                                    {{dataObj['Mtmpl']}}
                                </div>
                            </td>
                            <td>
                                <div class="upper-part"
                                    [ngStyle]="{'margin-bottom':  styleFunc(dataObj['isVisible'],detailHeight)}">
                                    {{dataObj['todayspan'] | number : '1.2-2'}}
                                </div>
                            </td>
                            <td>
                                <div class="upper-part"
                                    [ngStyle]="{'margin-bottom':  styleFunc(dataObj['isVisible'],detailHeight)}">
                                    {{dataObj['prespan'] | number : '1.2-2'}}
                                </div>
                            </td>
                            <td>
                                <div class="upper-part"
                                    [ngStyle]="{'margin-bottom':  styleFunc(dataObj['isVisible'],detailHeight)}">
                                    {{dataObj['Networth'] | number : '1.2-2'}}
                                </div>
                            </td>

                            <td>
                                <div class="upper-part"
                                    [ngStyle]="{'margin-bottom':  styleFunc(dataObj['isVisible'],detailHeight)}">
                                    {{dataObj['r_risk']}}
                                </div>
                            </td>
                            <td>
                                <div class="upper-part"
                                    [ngStyle]="{'margin-bottom':  styleFunc(dataObj['isVisible'],detailHeight)}">
                                    {{dataObj['riskpercent']}}
                                </div>
                            </td>
                            <td (click)="dropClick(dataObj.loginid ,list)">
                                <div class="upper-part"
                                    [ngStyle]="{'margin-bottom':  styleFunc(dataObj['isVisible'],detailHeight)}">
                                    <ion-icon class="arrow-button" src="./assets/svg/down-arrow.svg"
                                        *ngIf="!dataObj['isVisible']"></ion-icon>
                                    <ion-icon *ngIf="dataObj['isVisible']" class="rotate arrow-button down-arrow-button"
                                        src="./assets/svg/down-arrow.svg"></ion-icon>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="list.length == 0 ">
                        <tr>
                            <td colspan="8" class="no-data-found cntr">No Data Found</td>
                        </tr>
                    </tbody>
                </table>

                <div class="loader" *ngIf="!dataLoad">
                    <img src="/assets/imgs/loader.gif" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mobile-visibility commdityMobile">
    <ion-header class="equity-deposit-container z-index-0">
        <ion-toolbar color="tertiary" class="mobile-visibility">
            <div class="title-block title-block-custom">
                <div class="icon-title">
                    <ion-icon name="arrow-back-outline" class="back-button" (click)="goBack()"></ion-icon>
                    <ion-title class="title">Commodity Client Summary</ion-title>
                </div>
            </div>
        </ion-toolbar>

    </ion-header>
    <div class="download_file">
		<div  style="float: right; cursor: pointer;" (click)="onExcelDownload()">
			<img src="assets/svg/download_excel.svg" alt="">            
		</div>
	</div>
    <ion-content  class="mobile-visibility">
    <div *ngIf="list.length > 0 && dataLoad">
        <div class="data-block-parent card_mobile_view" *ngFor="let dataObj of list; let i = index">
        <div class="data-block bod_card">
            <div class="upper-section" >
                <div class="qty-block">
					<span class="status">
						<span class="item-title item-value">
                            <span class="font-weight-normal">Client Code:</span> 
                            {{dataObj['loginid']}}</span>
					</span>
					<div class="dot" (click)="dropMobileClick(dataObj.loginid ,list)">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
				</div>
            </div>
            <ul class="bod_card_list table_card_bod">
                <li>
                    <label> Group Code</label>
					<span>{{dataObj['cm_groupcd']}}</span>
                </li>
                <li>
                    <label>ALB</label>
					<span> {{dataObj['ALB']}}</span>
                </li>
                <li>
                    <label>MTMPL</label>
					<span> {{dataObj['Mtmpl']}}</span>
                </li>
                <li>
                    <label>Today Span</label>
					<span> {{dataObj['todayspan'] | number : '1.2-2'}}</span>
                </li>
                <li>
                    <label>PRESPAN</label>
					<span> {{dataObj['prespan'] | number : '1.2-2'}}</span>
                </li>
                <li>
                    <label>Networth</label>
					<span>  {{dataObj['Networth'] | number : '1.2-2'}}</span>
                </li>
                <li>
                    <label>R.Risk%</label>
					<span>  {{dataObj['r_risk']}}</span>
                </li>
                <li>
                    <label>Risk PERCENT</label>
					<span> {{dataObj['riskpercent']}}</span>
                </li>
            </ul>
            <div class="mobDetails" *ngIf="dataObj['isVisible']">
                <ul class="bod_card_list table_card_bod">
                    <li>
                        <label> Unclear chq</label>
                        <span>{{dataObj['UncleaerChqe'] | number : '1.2-2'}}</span>
                    </li>
                    <li>
                        <label>Equity Networth</label>
                        <span> {{dataObj['Equity_Networth'] | number : '1.2-2'}}</span>
                    </li>
                    <li>
                        <label>PendingCMS</label>
                        <span> {{dataObj['PendingCMS'] | number : '1.2-2'}}</span>
                    </li>
                    <li>
                        <label>ClearCHq</label>
                        <span>{{dataObj['Clear_Chq'] | number : '1.2-2'}}</span>
                    </li>
                    <li>
                        <label>Tender Margin</label>
                        <span> {{dataObj['tndMargin'] | number : '1.2-2'}}</span>
                    </li>
                    <li>
                        <label>Clear Amt</label>
                        <span>  {{dataObj['Networth'] | number : '1.2-2'}}</span>
                    </li>
                    <li>
                        <label>UnClear Amt</label>
                        <span>{{dataObj['unclr_amt'] | number : '1.2-2'}}</span>
                    </li>
                    <li>
                        <label>Branch Remark</label>
                        <span> {{dataObj['Bremark']}}</span>
                    </li>
                </ul>    
            </div>
        </div>

    </div></div>
    <div class="data-block-parent card_mobile_view" *ngIf="list.length == 0 && dataLoad">
        <div class="data-block bod_card" style="text-align: center;">
            No Data Found
            </div>
    </div>
    <div class="loader" *ngIf="!dataLoad">
        <img src="/assets/imgs/loader.gif" alt="">
    </div>
    </ion-content>

</section>