.web-equity {
    .header-table {
        th {
            padding: 6px 2px;
            width: 30vw !important;
            font-size: 12px;
            .head-block {
                display: flex;
                justify-content: flex-end;
            }
        }
        th:first-child {
            width: 40vw !important;
            border-radius: 0 !important;
        }
        th:last-child {
            padding-right: 12px;
            border-radius: 0 !important;
        }
    }
    .main-table {
        border-radius: 0 !important;
        border: 0 !important;
        td {
            padding: 10px 2px;
            width: 30vw !important;
            max-width: 30vw !important;
            font-family: 'nunitoSemiBold';
        }
        td:first-child {
            width: 40vw !important;
        }
        td:last-child {
            padding-right: 12px;
            border-radius: 0 !important;
            // font-family: 'nunitoBold';
        }
        tr:last-child {
            border-bottom: 1px solid #cbcbcb;
        }
    }
}

.detail-part-aum-inner {
    .code-block {
        .name {
            max-width: 40vw;
        }
    }
}

@media screen and (max-width: 370px) {
    .title-block-custom .icon-title .title {
        font-size: 20px;
        padding-top: 2px;
    }
}