.search-section {
    background: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .custom-searchbar {
        width: 85%;
    }
    .downloads-section {
        cursor: pointer;
        span {
            color: #f37921;
            font-size: 14px;
            font-family: "nunitoSemiBold";
            margin-left: 2px;
        }
    }
}



.desktop-table {
    // width: 100%;
    width: 1140px;
    margin-left: 0;
    margin: auto;
    max-height: unset !important;
    tr {
        border: none;
        border-bottom: 1px solid #cbcbcb;
        th {
            background: #f2f4f4;
            padding: 10px 2px;
        }

        td {
            cursor: pointer;
            position: relative;
        }
        th,
        td {
            font-size: 14px;
            color: #6e6e6e;
            text-align: center;
            width: 10%;
            // padding-left: 2px !important;
            // padding-right: 2px !important;
        }
        th:nth-child(1) {
            text-align: left;
            border-radius: 8px 0 0 0;
            padding-left: 16px;
            // width: 11%;
        }
        td:nth-child(1) {
            text-align: left;
            padding-left: 16px !important;
            border-radius: 0 0 8px 0;
            // width: 11%;
        }
        th:nth-child(2),
        td:nth-child(2) {
            text-align: center;
            // width: 7%;
        }
        th:nth-child(3),
        td:nth-child(3) {
            // text-align: left;
            // width: 17%;
        }
        th:nth-child(8),
        td:nth-child(8) {
            text-align: center;
            // width: 12%;
        }
        th:nth-child(9),
        td:nth-child(9) {
            // width: 9%;
            text-align: center;
            word-break: break-word;
        }
        th:last-child,
        td:last-child {
            padding-right: 16px !important;
            // width: 6%;
        }
        th:last-child {
            border-radius: 0 8px 0 0;
        }
        td:last-child {
            border-radius: 0 0 0 8px;
        }
    }

    tr:last-child {
        border-bottom: none !important;
    }

    .raatableHeader {
        th,
        td {
            width: 13%;
        }
    }
    tr:last-child {
        border-bottom: none !important;
    }
    tbody {
        tr {
            border-bottom: 1px solid #cbcbcb;
        }
        tr:first-child {
            border-top: none;
        }
    }
}

table {
    border: none !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

.excel-icon {
    position: relative;
    top: 3px;
    right: 4px;
}

// th.active {
//     background: #d9d9e4 !important;
//     color: #673AB7;
// }

.main-table {
    // overflow: auto;
    // overflow-x: hidden;
    // max-height: calc(100vh - 290px);
    // max-height: calc(100vh - 227px);
    padding-bottom: 2px;
    // max-height: calc(100vh - 392px);
    // max-height: 464px;
    margin-bottom: 24px;
    border-radius: 0 0 8px 8px;
    border: 1px solid #cbcbcb;
    .table-block {
        border-radius: 0 0 8px 8px;
        // border: 1px solid #cbcbcb;
        width: 1140px;
        border-top: none;
    }
}

.detail-part-fix {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 11;
    font-size: 14px;
    color: #716a90;
    padding: 8px 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #f4f3f9;
    width: 988px;
    justify-content: space-between;
    padding: 8px 142px;
    // width: 1087px;
    // margin: 0 25px;
    bottom: 16px;
    .detail-part {
        height: auto;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        .detail-heading {
            color: #716a90;
            font-size: 14px;
            font-family: "nunitoSemiBold";
        }
        .detail-value {
            color: #212121;
            font-size: 14px;
            font-family: "nunitoSemiBold";
        }
    }
}

.detail-part-position:before {
    content: "";
    position: absolute;
    left: -40px;
    width: 50px;
    height: 56px;
    background: #f4f3f9;
}

.upper-part {
    min-height: 61px;
    display: flex;
    align-items: center;
    width: 100%;
    // justify-content: flex-end;
    justify-content: center;
    color: #434343;
}

.detail-part-fix {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background: #f4f3f9;
    grid-row-gap: 24px;
    padding: 16px 8px !important;
}

.m-b-72 {
    margin-bottom: 72px !important;
}

@media screen and (max-width: 500px) {
    .no-data-found {
        height: calc(100vh - 246px);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .detail-upper {
        font-size: 12px;
        color: #716a90;
    }

    .detail-lower {
        font-size: 14px;
        color: #212121;
        font-family: nunitoSemiBold;
        // max-width: 81px;
        max-width: 29vw;
    }

    .detail-section {
        justify-content: space-evenly !important;
    }
    .data-block {
        padding: 8px 16px;
    }

    .status {
        font-size: 12px;
        // color: #17C257;
        // background: #E5FBEE;
        border-radius: 4px;
        // margin-right: 8px;
        // height: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        .item-title {
            font-size: 12px;
            font-family: "nunitoSemiBold";
        }
        .item-value {
            font-size: 14px;
            font-family: "nunitoBold";
            color: #000000;
        }
    }

    .m-r-8 {
        margin-right: 8px;
    }

    .text-right {
        text-align: right !important;
    }
    .downReport {
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: flex-end;
        box-shadow: 0px 6px 23px #00000029;
        span {
            width: 100%;
            display: block;
            color: #f37921;
            text-align: end;
            padding-right: 15px;
        }
    }

    .search-section {
        width: 100%;
        padding: 4px 0 0 !important;
        .custom-searchbar {
            width: 94%;
        }
    }
}

@media screen and (min-width: 768px) {
    .main-table {
        .table-block {
            width: 600px;
        }
    }
    .desktop-table {
        width: 600px;
        margin: auto;
        .detail-part-fix {
            width: 568px;
            padding: 8px;
        }
        th,
        td {
            font-size: 10px !important;
        }
        .first-column {
            .first-span {
                font-size: 10px !important;
            }
        }
        .no-data-found {
            padding: 10px !important;
        }
    }
}

@media screen and (min-width: 501px) and (max-width: 800px) {
    .search-section {
        .custom-searchbar {
            width: 75%;
        }
    }
}

@media screen and (min-width: 992px) {
    .main-table {
        .table-block {
            width: 840px;
        }
    }
    .desktop-table {
        width: 840px;
        margin: auto;
        .detail-part-fix {
            width: 808px;
            padding: 8px;
        }
        th,
        td {
            font-size: 12px !important;
        }
        .first-column {
            .first-span {
                font-size: 12px !important;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .main-table {
        .table-block {
            width: 1140px;
        }
    }
    .desktop-table {
        width: 1140px;
        margin: auto;
        .detail-part-fix {
            width: 988px;
            padding: 8px 20px;
        }
        th,
        td {
            font-size: 14px !important;
            max-width: 100px;
            word-break: break-all;
        }
        td:nth-child(3) {
            max-width: 140px;
        }
        .first-column {
            .first-span {
                font-size: 16px !important;
            }
        }
    }
}

.data-block-parent {
    // padding: 16px;
    color: #9c9c9c;
    font-size: 13px;
}

.data-block {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-bottom: 1px solid #cbcbcb;
}

.data-section {
    display: flex;
    justify-content: space-between;
}

.detail-section {
    display: flex;
    justify-content: space-between;
    background: #f4f3f9;
    padding: 12px;
    text-align: center;
    margin: 12px 0 0;
}

.upper-detail-section {
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    text-align: center;
    margin: 8px 0 0;
}

.font-14 {
    font-size: 14px !important;
}

.qty-block {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    justify-content: space-between;
    .qty-value {
        font-size: 17px;
        color: #212121;
        margin-left: 6px;
    }
    .align-arrow {
        padding-right: 10px;
    }
}

.rupees {
    font-size: 14px;
    padding-right: 2px;
    color: #212121;
}

.font-green {
    font-size: 15px;
}

.detail-upper {
    font-size: 12px;
    color: #716a90;
}

.detail-lower {
    font-size: 14px;
    color: #212121;
    font-family: nunitoSemiBold;
}

.gray-block {
    color: #9c9c9c;
    font-size: 13px;
}

.value {
    font-family: nunitoLight;
    color: #212121;
    font-size: 18px;
}

.m-r-8 {
    margin-right: 8px;
}

.text-right {
    text-align: right !important;
}

// web part
.first-span {
    color: #2d197f;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .download_file{display: flex;justify-content: flex-end; gap: 10px; margin: 10px;}
    .download_file > div{cursor: pointer;}
    .download_file img{width: 16px;}
}
