.ion-page{justify-content: flex-start !important;}
// .help_banner{background: linear-gradient(270deg, #DCD5FC 0%, #F5DFED 100%); padding: 2rem 0 6rem 0; width: 100%;}
.help_banner{padding: 2rem 0 6rem 0; width: 100%;}
.help_banner h2{font-size: 2rem; font-weight: 700; color: #231965; padding-bottom: 1rem;margin: 0px;}
.calculator-segment{ border: 1px solid #CBCBCB; border-radius: 5px; width:260px;background: #fff; }
.calculator-segment {    border: 1px solid #CBCBCB;    border-radius: 5px;    width:260px;
ion-segment-button {  --indicator-height: 36px;  --color: #212121;
font-size: 16px;--indicator-color: #f37921;--color-checked: #fff;text-transform: capitalize;
min-height: 36px;}
ion-segment-button:first-child{border-right:1px solid #00083959;}
}
// .banner_main div:first-child{width: 70%;}
.help_banner .label{font-size: 16px; color: #717171; padding-bottom: 8px;}
.banner_main{display: flex;justify-content: space-between; }
.banner_main div:last-child img {width: 70%;}
.search-section-changed-revamped{padding: 0px;   }
.serchbar_help{  padding: 0px; ;}
.serch_box.help_box{margin: .7rem 0 1.5rem; width: 780px;}
.serch_box h3{font-size: 1.25rem; color: #000000; font-weight: 600;}
.search-button{background: #F37921; margin: 0; height: 46px;border-radius: 0px 9px 9px 0;width: inherit;}
.quick_help h4{font-size: 1rem; font-weight: 500; color: #878787;}
.topic_list{display: flex; flex-wrap: wrap; margin-top: 1rem;}
.topic_list a{font-size: 12px; color: #878787;border-radius: 20px;background: #fff; border: 1px solid #B8B6B6; padding: 4px 12px; text-decoration: none; margin:0 15px 10px 0;}
.faq_ticket_box{padding: 2.5rem 1.5rem;box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25); width: 80%; margin: -70px auto; background: #fff; border-radius: 3px; display: grid; grid-template-columns: 1fr 1fr; text-align: center; margin-bottom: 3.5rem;}

.faq_ticket_box h2{font-size: 24px; font-weight: 600; color: #1186DB; display: block;}
.faq_ticket_box p{font-size: 16px; font-weight: 500; color: #465367;margin-bottom: 0;}
.faq_ticket_box div{padding: 0 1.5rem; }
.raise-query-submit-box{background: #F7F9FC; padding: 2rem 0;}
.sub_section{display: flex; justify-content: space-between; align-items: center; width: 80%; margin: 0 auto;}
.sub_section h2{font-size: 2rem; color: #465367; font-weight: 600; margin-bottom: 0px;}
.sub_section p{font-size: 16px; color: #465367; font-weight: 500; margin: 0; padding: 0px;}
ion-button { border-radius: 25px; --border-radius: 25px; --background: #F37921; width: 230px; box-shadow: 0px 2px 12px #f37921ad; font-size: 15px; font-family: "nunitoExtraBold"; height: 41px; margin: 0 auto; display: block; }
.recent_topic{margin-bottom: 2rem;}
.raise_btn_bottom{text-align: center; margin: 0 auto;}
.recent_topic_list{list-style: none; margin: 0; padding: 0;}
.recent_topic_list h2{font-size: 1.1875rem; font-weight: 700; margin: 0; color: #333; padding-bottom: 1.75rem;}
.recent_topic_list li img{width: 13px; margin-right: 10px;}
.recent_topic_list h2 img{vertical-align: middle; margin-right: 3px;}
.recent_topic_list li{color: #000; display: flex; margin-bottom: 1rem;align-items: flex-start;}
.recent_topic_list a{text-decoration: none; color: #000; cursor: pointer;}
.recent_topic_list a:hover{color:#e46317}
.thin-scroll.h-200{height:300px !important; overflow: auto !important;margin-top: -10px;
    background-color: #fff;
    padding: 5px;
    box-shadow: -2px 6px 6px #00000038;
}
.serch_box .item-label {cursor: pointer;}
.serch_box .item-label:hover{color:#f37921;} 
.faq_ticket_box_click{cursor: pointer;display: inline-block; transition: 1s;}
.faq_ticket_box_click:hover{transform: scale(1.1);}
.parentDivHelp{display: flex;flex-wrap: wrap;padding: 5px 5px 0;background-color: white;}
.outlineHelp{padding: 10px 10px;margin: 2px 5px;border: 2px solid #3333;border-radius: 8px; cursor: pointer;background-color: white;color:#212121}
.parentDivHelp p{margin: 5px 0px;}
.disableHelp{pointer-events: none; background-color: #f1f1f1; color: #686868;}
.buttonRaiseHelp{margin: 20px auto 15px;}
.raiseQueryHelp{text-align: center;}
.outlineHelp[disabled]{color: #686868;}
.view-link-btn{
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline;
}
@media screen and (max-width: 768px) {
    .banner_main{flex-direction: column;}
    .serch_box.help_box{width: 100%;}
    .search-section-changed-revamped{width: 100%; left: 0;}
    .serch_box h3{font-size: 14px;}
    .help_banner_img img{position: fixed; bottom: 0; right: 0; display: none;}
    .view-link-btn{color: #fff; text-decoration: none; text-align: center; display: flex; font-weight: 500; background: #F37921; border-radius: 25px; padding: 12px 35px; font-size: 16px; margin: 0 auto; width: max-content; z-index: 1060; position: relative;}
    .search_main{overflow: auto;}
    .parentDivHelp{min-width: 900px;}
    .help_banner{padding: 20px 10px;
     h2{font-size: 24px; padding-bottom: 8px;}
    }
    .search-section-changed-revamped{border: 1px solid #ccc !important; border-radius: 5px !important;}
}
.search-section-changed-revamped{overflow: auto;}
.search-section-changed-revamped{overflow: auto;}
.outer_btn{--background: #fff !important; color: #1186DB; border: none; box-shadow: none; --box-shadow: none;}

