<ion-header>
    <ion-toolbar color="tertiary" class="mobile-visibility">
        <div class="title-block title-block-custom">
            <div class="icon-title">
                <ion-icon name="arrow-back-outline" class="back-button" (click)="goBack()"></ion-icon>
                <ion-title class="title">FAQs</ion-title>
            </div>
        </div>
    </ion-toolbar>
    <ion-toolbar class=" desktop-visibility">
        <div class="container">
            <div class="heading-part notificationheader">
                <ion-icon name="arrow-back-outline" class="back-button" (click)="goBack()"></ion-icon>
                <span class="heading">FAQs</span>
            </div>
        </div>
    </ion-toolbar>
  </ion-header>
  <ion-content class="desktop-visibility">
    
  <div class="container">
      <div class="bed_crum">
          <a href="javascript:void(0)" (click)="onBradcrum()">Home</a>
          <a href="javascript:void(0)" (click)="gotoHelp()">FAQs</a>
      </div>
  <div class="faq_main_grid">
      <div class="faq_grid_box" *ngFor="let data of headData">
          <div class="grid_top">
              <img src="assets/svg/faq-icon.svg" alt="">
              <div>
                  <h2 (click)="onFaqClick(data)">{{data}}</h2>
              </div> 
          </div>
      </div>
      <div class="faq_grid_box" *ngIf="headData.length < 1">
        <div class="grid_top">
            <h2> No Sub Category Found!</h2>
        </div>
    </div>    
  </div>
  </div>
  <!-- <div class="raise-query-submit-box">
      <div class="container">
  <div class="sub_section">
      <div>
          <h2>Still can’t find an answer? </h2>
          <p>Raise a query and we will get back to you.</p>
      </div>
      <div class="raise_btn_bottom">
          <div class="section section-button">
              <ion-button type="submit" (click)="raiseQueryClick()">Raise a Query </ion-button>
            </div>
      </div>
  </div>
      </div>
  </div> -->
  </ion-content>