
.desktop {
  ion-router-outlet {
    margin-top: 56px;
    // margin-bottom: 56px;
  }
 
  .logo {
    max-height: 40px;
    color: #fff;
    margin-top: 3px;
    cursor: pointer;
    img {
      width:94px;
    }
  }
 
  ion-toolbar {
    --background: #231965;
    // padding: 0 10vw;
  }

  ion-toolbar.desktop-visibility{
    margin-top: 56px;
  }
 
  .link {
    --color: var(--ion-color-light);
  }
 
  .active-link {
    --color: var(--ion-color-primary);
  }
}

.dashboard-segment{
  background: transparent;
    border-radius: 0;
    padding-right: 2px;
 }
  .selected-search {
     display: none;
     width: 19px;
        position: relative;
        top: 2px;
    }
    .unselected-search {
        width: 19px;
    }
  .search-segment{
    // width: 60px;
    flex: 0 0;
    min-width: 50px;
  }
  .more-segment{
    margin-right: 30px;
    width: 60px;
    flex: 0 0;
  }
  .segment-button-checked{
    --border-radius: none;
    font-family: nunitoBold;
    border-bottom: 4px solid #F37921;
    .line{
      display: inline-block;
      display: none;
    }
    .selected-search {
        display: inline-block;
    }
    .unselected-search {
        display: none;
       }
  }
  ion-segment-button{
    --color: #EDEBFF;
    --indicator-color: #2c2271;
    outline: 0;
    margin: 0;
    height: 60px;
    font-size: 16px;
    --padding-start: 0;
    --padding-end: 0;
    // max-width: 111px;
    --color-checked: #F37921;
    --color-hover: #EDEBFF;;
  }


.open-account {
    --background: #F37921;
    font-size: 12px;
    height: 26px;
    position: absolute;
    top: 10px;
    right: 172px;
    // right: 263%;
}




.top-parent-block {
    display: flex;
    align-items: center;
    flex: auto;
    gap:10px;
    @media (min-width:992px) {
      gap: 20px;
    }
    .segment-block-top {
        width:100%;
    }
}

.profile-circle {
    width: 23px;
    height: 23px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    ion-icon {
        color: #231965;
    }
}

.chevron-down {
    margin-left: 4px;
    width: 17px;
}

.tab-selected-icon {
  display: none;
}

.tab-unselected-icon {
  // display: none;
  width: 17px;
  padding-top: 4px;
}

.segment-button-checked {
  .tab-selected-icon {
    display: block;
    width: 17px;
    padding-top: 8px;
  }
  .tab-unselected-icon {
    display: none;
  }
}

.profile-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
//   min-width: 153px;
  // padding-le ft:16px;
  ion-button{
    --background: transparent;
    --background-activated: transparent;
    --background-focused: transparent;
    --background-hover: transparent;
    font-family: nunitoBold;
  }
}

// mega menu transition related style
.dashboard-menu, .markets-menu, .clients-trades-menu {
    height: 67.6px;
}

.invest-menu {
    height: 259.6px;
}
.report-menu {
  height: 168px;
}

.block {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  height: 100%;
  align-items: center;
  justify-content: center;
   .line{
      height: 4px;
      background: #F37921;
      width: 100%;
      position: absolute;
      bottom: 0;
      display: none;
   }
}
 
.iconsize{
    height: 30px;
    width: 23px;
    padding: 3px 8px 0px 0px;
    color: white;
}

.selected-icon {
  display: none;
}

.tab-button-selected {
  .not-selected-icon {
    display: none;
  }
  .selected-icon {
    display: block;
  }
}

.profile-call-block{
    display: flex;
    align-items: center;
    gap: 10px;
    .call-block {
        ion-icon {
            color: #fff;
            font-size: 21px;
            position: relative;
            top: 4px;
            right: 8px;
            cursor: pointer;
        }
    }
}

@media (max-width: 820px){
    // .mobile {
    //     display:none;
    // }
}

@media (min-width: 820px){
    .web {
        display:none;
    }
}
.earn{
  display: none;
  @media screen and (min-width: 992px){
  display: block;
  background: transparent !important; display: flex; align-items: center; flex-direction: row;
  position: relative; width: 90px;
  cursor: pointer;
 span{font-size: 12px; position: absolute;padding: 7px 10px;width: 90px; border-radius: 10px;}
.blink-rf {
  opacity: 1;
   color: #fff ;
   animation: blinker1 3s step-end infinite; 
   display: block;
   background: #1FB21A;
}
.blink-voucher {
 opacity: 0;
 color: #000;
  animation: blinker2 3s step-end infinite;
  animation-delay: 3s;
  background: #fff;
}
@keyframes blinker1 {
  50% {
    opacity: 0;
    
  }
}
@keyframes blinker2 {
  50% {
    opacity: 1;
  }
}
  }
}
@media screen and (min-width: 768px) {
    .dashboard-segment {
      .more-segment {
        margin-right: 0px;
      }
      ion-segment-button {
        font-size: 11px !important;
      }
    }
    .hideTabs{
      visibility: visible;
    }
  }
  @media screen and (min-width: 992px) {
    .container-change {
        width: 960;
    }  
   
    .dashboard-segment {
        ion-segment-button {
        font-size: 14px !important;
      }
    }
    .open-account {
        right: 200px;
    }
   
    .hideTabs{
      visibility: hidden;
    }
  
  }

  @media screen and (min-width:1200px) {
    .container-change {
        width:1140px;
    }
  }


  .btnFamilyPortfolio{
    text-align: left;
    font-family: nunitoSemiBold;
    font-size: 15px;
letter-spacing: 0px;
color: #F37921;
padding: 0;
margin: 15px 0 0;
cursor: pointer;
 img{
  vertical-align: middle;
  margin-right: 2px;
  margin-top: -4px;
 }
} 
