.search-section {
    background: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .custom-searchbar {
        width: 85%;
    }
    .downloads-section {
        cursor: pointer;
        span {
            color: #F37921;
            font-size: 14px;
            font-family: 'nunitoSemiBold';
            margin-left: 2px;
        }
    }
    
}

.checkbox {
    --background: transparent;
    --background-checked: transparent;
    --border-color: #9C9C9C;
    --border-color-checked: #9C9C9C;
    --checkmark-color: #F37921;
    --size: 20px;
}

.loader {
    width: 1140px;
    min-height: 100px;
}
.desktop-table {
    // width: 100%;
    width: 1140px;
    margin-left: 0;
    margin: auto;
    max-height: unset !important;
    tr {
        border-bottom: 1px solid #CBCBCB;
        th {
            background: #F2F4F4;
            padding: 10px 2px;
            word-break: break-word;
        }
        
        td {
            cursor: pointer;
            position: relative;
        }
        th, td {
            font-size: 14px;
            color: #6E6E6E;
            text-align: center;
            width: 89px;
            // padding-left: 2px !important;
            // padding-right: 2px !important;
        }
        
        th:nth-child(1), td:nth-child(1) {
            text-align: left;
            width: 34px !important;
        }
        th:nth-child(1) {
            border-radius: 8px 0 0 0;
        }
        td:nth-child(1) {
            border-radius: 0 0 8px 0;
        }
        th:nth-child(2), td:nth-child(2) {
            text-align: left;
            // width: 7%;
        }
        th:nth-child(3), td:nth-child(3) {
            // text-align: left;
            // width: 17%;
        }
        th:nth-child(6), td:nth-child(6) {
            // text-align: left;
            // width: 23%;
            padding-left: 10px;
        }
        th:nth-child(9), td:nth-child(9) {
            // width: 9%;
            text-align: center;
            word-break: break-word;
        }
        th:last-child, td:last-child {
            padding-right: 16px !important;
            // width: 6%;
        }
        th:last-child {
            border-radius: 0 8px 0 0;
        }
        td:last-child {
            border-radius: 0 0 0 8px;
        }
        
    }
    tr:last-child {
        border-bottom: none !important;
    }
    tbody {
        tr {
            border-bottom: 1px solid #cbcbcb;
        }
        tr:first-child {
            border-top: none;
        }
    }

}

table {
    border: none !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

// th.active {
//     background: #d9d9e4 !important;
//     color: #673AB7;
// }

.main-table {
    overflow: auto;
    overflow-y: hidden;
    // max-height: calc(100vh - 290px);
    // max-height: calc(100vh - 227px);
    // max-height: 468px;
    padding-bottom: 2px;
    border: 1px solid #cbcbcb;
    border-radius: 8px;
    margin-bottom: 24px;
    .desktop-table {
        width: 2240px;
    }
    .table-block {
        border-radius: 0 0 8px 8px;
        // border: 1px solid #cbcbcb;
        width: 1140px;
        border-top: none;
    }
    .body-part {
        overflow-y: auto;
        // max-height: calc(100vh - 450px);
        // max-height: 464px;
        overflow-x: hidden;
        width: 2240px !important;
    }
    .lower-header {
        th {
            background: #DBDBDB;
        }
        th:first-child {
            border-radius: 0 !important;
        }
        th:last-child {
            border-radius: 0 !important;
        }
    }
}

// Scrollbar Override
.scroll-inner {
	&::-webkit-scrollbar {
		width: 8px;
	}
	&::-webkit-scrollbar:horizontal {
		height: 8px;
	}
	&::-webkit-scrollbar-track {
		// background-color: transparentize(#ccc, 0.7);
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		// background: transparentize(#ccc, 0.5);
        background: #CFCFCF;
		box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	}
}

.detail-part-fix {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 11;
    font-size: 14px;
    color: #716A90;
    padding: 8px 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #F4F3F9;
    width: 988px;
    justify-content: space-between;
    padding: 8px 142px;
    // width: 1087px;
    // margin: 0 25px;
    // bottom: 16px;
    bottom: 0;
    .detail-part {
        height: auto;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        .detail-heading {
            color: #716A90;
            font-size: 14px;
            font-family: 'nunitoSemiBold';
        }
        .detail-value {
            color: #212121;
            font-size: 14px;
            font-family: 'nunitoSemiBold';
        }
    }
}

.detail-part-position:before {
    content: '';
    position: absolute;
    left: -40px;
    width: 50px;
    height: 56px;
    background: #f4f3f9;
}

.upper-part {
    min-height: 61px;
    display: flex;
    align-items: center;
    width: 100%;
    // justify-content: flex-end;
    justify-content: center;
    color: #434343;
    .dotted-border{
        border-bottom: 1px dotted #9B9B9B;
        width:85%;
    }
}

.detail-part-fix {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background: #F4F3F9;
    grid-row-gap: 24px;
    padding: 16px 8px !important;
    padding: 0 !important;
    width: unset !important;
}


.m-b-72 {
    margin-bottom: 72px !important;
}

.client-code-block {
    display: flex;
    flex-direction: column;
    span.client-code {
        color: #000000;
        font-family: 'nunitoSemiBold';
    }
    
    span.client-type {
        font-size: 10px;
    }
}

span.remark {
    color: #2680EB;
    font-family: 'nunitoSemiBold';
    border-bottom: 1px dashed #222;
    padding-bottom: 5px;
    width: 100%;
    padding-left: 10px;
}

ion-icon.edit-icon {
    position: absolute;
    top:20px;
    right: 20px;
    color: #2680EB;
}



.detail-table-block {
    border: none !important;
    width: unset !important;
    td {
        padding: 10px 0 !important;
    }
    // td:nth-child(1) {
    //     width: 57px !important;
    // }
    // .width-57 {
    //     width: 57px !important;
    // }
}

// .desktop-table {
//     .detail-table-block {
//         tr {
//             td:nth-child(1) {
//                 width: 57px !important;
//             }
//         }
//     }
// }

.arrow-button {
    left: 0;
    background: #EFEFEF;
    padding: 4px;
    border-radius: 50%;
}

.loaderCss{
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 30px;
    }
}




@media screen and (max-width: 768px) {
    .no-data-found {
        height: calc(100vh - 246px);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .detail-upper {
        font-size: 12px;
        color: #716A90;
    }
    
    .detail-lower {
        font-size: 14px;
        color: #212121;
        font-family: nunitoSemiBold;
        // max-width: 81px;
        max-width: 29vw;
    }
    
    .status {
        font-size: 12px;
        // color: #17C257;
        // background: #E5FBEE;
        border-radius: 4px;
        margin-right: 8px;
        height: 20px;
        display: flex;
        align-items: center;
        padding: 0 10px;
        font-family: nunitoSemiBold;
        margin-left: 8px;
        text-transform: capitalize;
    }
    
    
    .m-r-8 {
        margin-right: 8px;
    }
    
    .text-right {
        text-align: right !important;
    }
    .main-header {
        box-shadow: 0px 1px 6px #00000042;
    }
    .destop-segment-middle {
        margin: 0 0 0 16px;
        ion-segment-button {
            font-size: 14px;
        }
    }
    .slide-data {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-bottom: 1px solid #cbcbcb;
        .slide-heading {
            font-size: 16px;
            font-family: 'nunitoBold';
            text-align: left;
            padding: 18px 16px;
            color: #000;
        }
        .segment-data-block {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            padding: 0 0px;
            margin-bottom: 18px;
            .segment-data {
                display: flex;
                flex-direction: column;
                align-items: center;
                max-width: 22vw;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                .title {
                    color: #716A90;
                    font-size: 12px;
                }
                .value {
                    color: #000;
                    font-size: 14px;
                    font-family: 'nunitoSemiBold';
                    white-space: break-spaces;
                    word-break: break-all;
                }
            }
        }
    }
    .change-option {
        color: #F37921;
        font-size: 16px;
        margin-top: 24px;
        margin-right: 11px;
        cursor: pointer;
    }
    .change-option-mobile {
        background: #fff;
    }
    .title-block-custom {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 16px !important;
        height: unset;
    }
    .change-option-mobile {
        display: flex;
        justify-content: flex-end;
    }
    .change-option {
        margin: 0;
        padding: 12px 16px 12px 3px;
    }
    .code-block {
        display: flex;
        flex-direction: column;
        margin-left: 33px;
        font-size: 17px;
        margin-top: 3px;
        font-family: 'nunitoBold';
        .total-pnl {
            font-size: 12px;
            font-family: nunitoLight;
        }
    }

    
}

@media screen and (max-width: 375px) {
    .slide-data {
        .slide-heading {
            font-size: 15px;
            padding: 14px 16px;
        }
        .segment-data-block {
            .segment-data {
                .title {
                    font-size: 11px;
                }
                .value {
                    font-size: 13px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .main-table {
        .table-block {
            width: 600px;
        }
    }
    .loader {
        width: 600px;
    }
    .desktop-table {
        width: 700px;
        margin: auto;
        .detail-part-fix {
            width: 668px;
            padding: 8px;
        }
        th, td {
            font-size: 10px !important;
        }
        .first-column {
            .first-span {
                font-size: 10px !important;
            }
        }
        .no-data-found {
            padding: 10px !important;
        }
    }
}

@media screen and (min-width: 992px) {
    .main-table {
        .table-block {
            width: 840px;
        }
    }
    .loader {
        width: 840px;
    }
    .desktop-table {
        width: 840px;
        margin: auto;
        .detail-part-fix {
            width: 808px;
            padding: 8px;
        }
        th, td {
            font-size: 12px !important;
        }
        .first-column {
            .first-span {
                font-size: 12px !important;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .main-table {
        .table-block {
            width: 1140px;
        }
    }
    .loader {
        width: 1140px;
    }
    .desktop-table {
        width: 100%;
        margin: auto;
        .detail-part-fix {
            width: 988px;
            padding: 8px 20px;
        }
        th, td {
            font-size: 14px !important;
            max-width: 100px;
            word-break: break-all;
        }
        th {
            font-size: 13px !important;
        }
        td:nth-child(3) {
            max-width: 140px;
        }
        .first-column {
            .first-span {
                font-size: 16px !important;
            }
        }
    }
    
}











