.web-equity {
    .header-table {
        th {
            width: 15%;
        }
        th:nth-child(2) {
            text-align: left;
        }
    }
    .main-table {
        max-height: 260px;
        max-height: 468px;
        overflow: auto;
        td {
            width: 15%;
        }
        td:nth-child(2) {
            text-align: left;
            font-family: 'nunitoBold';
        }
    }
}

