<div>
    <div class="web-equity thin-scroll">
        <div class="segment-search-block input-search-padding header-segment-with-border-parent">
            <!-- old code -->
            <!-- <ion-segment class="header-segment-top" [(ngModel)]="holdingTabValue"  (ionChange)="segmentChange($event.detail.value)">
                <ion-segment-button value="{{dataObj['value']}}" *ngFor="let dataObj of holdingOptions">
                    {{dataObj['name']}}
                </ion-segment-button>
            </ion-segment> -->
            <!-- new code start -->
            <ion-segment class="header-segment-with-border" [(ngModel)]="holdingTabValue"  (ionChange)="segmentChange($event)">
                <ion-segment-button [ngClass]="{'first': dataObj['value'] === 'lumpsum', 'second': dataObj['value'] === 'sip'}" value="{{dataObj['value']}}" *ngFor="let dataObj of holdingOptions">
                    <div class="segment-inner-data">
                        <img class="checkmar-img" src="assets/svg/checkmark.svg" alt="">
                        <span class="segment-value">{{dataObj['name']}}</span>
                    </div> 
                </ion-segment-button>
            </ion-segment>
            <!-- end -->
            <ion-searchbar *ngIf="holdingTabValue === 'lumpsum'" class="custom-searchbar" name="searchScheme" [(ngModel)]="searchScheme"  placeholder="Search for Order Book"></ion-searchbar>
            <ion-segment *ngIf="holdingTabValue === 'sip'" class="block-segment" [(ngModel)]="monthWeekTabValue" (ionChange)="timeDurationChange($event.detail.value)">
                <ion-segment-button value="month">Last 1M</ion-segment-button>
                <ion-segment-button value="week">Last 1Wk</ion-segment-button>
            </ion-segment>
        </div>
       <div class="switch-block desktop-visibility" [ngSwitch]="holdingTabValue">
           <div class="switch-option" *ngSwitchCase="'lumpsum'">
            <div class="table-block header-part header-part-2 desktop-visibility">
                <table class="desktop-table">
                    <thead style="width: 100%">
                        <tr>
                            <th></th>
                            <th>Scheme</th>
                            <th>Timestamp</th>
                            <th>Units</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="main-table thin-scroll desktop-visibility scroll-inner">
                <!-- <div class="table-header"> -->
                <div class="table-block body-part thin-scroll" *ngIf="dataLoad">
                    <table class="desktop-table">
                        <tbody *ngIf="(orderBookList | filterSearch: searchScheme : 'Name').length > 0">
                            <tr *ngFor="let dataObj of orderBookList | filterSearch: searchScheme : 'Name'; let i = index"(click)="dropClick(dataObj.srNo , orderBookList)">
                                <td>
                                    <div class="upper-part" style="justify-content: center;" [ngStyle]="{'margin-bottom':  dataObj['isVisible'] ? '' + (detailHeight + 0) + 'px': ''}">
                                        <span class="swichin" [ngStyle]="{'background-color':dataObj.BuySell === 'B' ? 'green' : 'red' }">
                                            {{purchaseTypes(dataObj.PurchaseType, dataObj.BuySell)}}
                                        </span> 
                                    </div>
                                    <div class="detail-part-fix" #detail *ngIf="dataObj['isVisible']">
                                        <!-- <ion-button class="transact">Transact</ion-button> -->
                                        <div class="detail-part">
                                            <span class="detail-heading">Broker’s Reference ID</span>
                                            <span class="detail-value">{{dataObj.BrokerOrderID}}</span>
                                        </div>
                                        <div class="detail-part">
                                            <span class="detail-heading">Exchange Reference ID</span>
                                            <span class="detail-value">{{dataObj.ExchOrderId}}</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="upper-part" [ngStyle]="{'margin-bottom':  dataObj['isVisible'] ? '' + (detailHeight + 0) + 'px': ''}">
                                        {{dataObj['Name']}}
                                    </div>
                                </td>
                                <td>
                                    <div class="upper-part" [ngStyle]="{'margin-bottom':  dataObj['isVisible'] ? '' + (detailHeight + 0) + 'px': ''}">
                                         {{moment(dataObj['ExchOrderTime']).format("DD MMM YYYY hh:mm:ss A")}}
                                    </div>
                                </td>
                                <td>
                                    <div class="upper-part" [ngStyle]="{'margin-bottom':  dataObj['isVisible'] ? '' + (detailHeight + 0) + 'px': ''}">
                                         {{dataObj['Units'] | formatNumerDecimal}}
                                    </div>
                                </td>
                                <td>
                                    <div class="upper-part icon-status" [ngStyle]="{'margin-bottom':  dataObj['isVisible'] ? '' + (detailHeight + 0) + 'px': ''}">
                                        <span>{{dataObj['Status']}}</span>
                                        <span><img class="status-icon" *ngIf="dataObj['Status'] == 'Placed'" src="assets/svg/approved.svg" alt=""></span>
                                        <span><img class="status-icon" *ngIf="dataObj['Status'] == 'Failed'" src="assets/svg/rejected.svg" alt=""></span>
                                        <span><img class="status-icon" *ngIf="dataObj['Status'] == 'InProcess'" src="assets/svg/process.svg" alt=""></span>
                                    </div>
                                </td>
                                <td>
                                    <div class="upper-part" style="min-height: 45px;">
                                        <ion-icon class="arrow-button" src="./assets/svg/down-arrow.svg"
                                        *ngIf="!dataObj['isVisible']"></ion-icon>
                                    <ion-icon *ngIf="dataObj['isVisible']" class="rotate arrow-button down-arrow-button"
                                        src="./assets/svg/down-arrow.svg"></ion-icon>
                                    </div>
                                   
                                </td>
                            </tr>
                        </tbody>
                        <div class="no-data-found" *ngIf="(orderBookList | filterSearch: searchScheme : 'Name').length == 0">
                            <span>No Data Found</span>
                        </div>
                    </table>
                </div>
                <div class="loader" *ngIf="!dataLoad" style="min-height: 300px;">
                    <img src="/assets/imgs/loader.gif" alt="">
                </div>
            </div>
           </div>
           <div class="switch-option sip" *ngSwitchCase="'sip'">
            <div class="table-block header-part header-part-2 desktop-visibility">
                <table class="desktop-table">
                    <thead style="width: 100%">
                        <tr>
                            <th>Scheme</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="main-table thin-scroll desktop-visibility scroll-inner">
                <!-- <div class="table-header"> -->
                
                
                <div class="table-block body-part thin-scroll" *ngIf="dataLoad">
                    <table class="desktop-table">
                        <tbody *ngIf="sipRegList.length > 0">
                            <tr *ngFor="let dataObj of sipRegList; let i = index" (click)="dropClick(dataObj.srNo , sipRegList)">
                                <td>
                                    <div class="upper-part" [ngStyle]="{'margin-bottom':  dataObj['isVisible'] ? '' + (detailHeight + 0) + 'px': ''}">
                                        {{dataObj.Symbole}} &#38; {{dataObj.ApplyDT}}
                                    </div>
                                    <div class="detail-part-fix" #detail *ngIf="dataObj['isVisible']">
                                        <!-- <ion-button class="transact">Transact</ion-button> -->
                                        <div class="detail-part sip-detail">
                                            <span class="detail-heading">Frequency</span>
                                            <span class="detail-value">
                                                <span *ngIf="dataObj.SIPFFrequency == 'M'">Monthly</span>
                                                <span *ngIf="dataObj.SIPFFrequency == 'W'">Weekly</span>
                                                <span *ngIf="dataObj.SIPFFrequency == 'D'">Daily</span>  
                                            </span>
                                        </div>
                                        <div class="detail-part">
                                            <span class="detail-heading">Application No.</span>
                                            <span class="detail-value">{{dataObj.ApplicationNO}}</span>
                                        </div>
                                        <div class="detail-part">
                                            <span class="detail-heading">Successful Txns.</span>
                                            <span class="detail-value">{{dataObj.SuccTrans}}</span>
                                        </div>
                                        <div class="detail-part">
                                            <span class="detail-heading">Failed Txns.</span>
                                            <span class="detail-value">{{dataObj.FailedTrans}}</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="upper-part" [ngStyle]="{'margin-bottom':  dataObj['isVisible'] ? '' + (detailHeight + 0) + 'px': ''}">
                                        {{dataObj.SipStart}}
                                    </div>
                                </td>
                                <td>
                                    <div class="upper-part" [ngStyle]="{'margin-bottom':  dataObj['isVisible'] ? '' + (detailHeight + 0) + 'px': ''}">
                                        {{dataObj.SipEnd}}
                                    </div>
                                </td>
                                <td>
                                    <div class="upper-part icon-status" [ngStyle]="{'margin-bottom':  dataObj['isVisible'] ? '' + (detailHeight + 0) + 'px': ''}">
                                        <span>{{splitStatus(dataObj.Status)}}</span>
                                        <span><img class="status-icon" *ngIf="dataObj['Status'] == 'Accepted'" src="assets/svg/approved.svg" alt=""></span>
                                        <span><img class="status-icon" *ngIf="dataObj['Status'] == 'Rejected'" src="assets/svg/rejected.svg" alt=""></span>
                                        <span><img class="status-icon" *ngIf="splitStatus(dataObj['Status']) == 'Stopped'" src="assets/svg/process.svg" alt=""></span>

                                    </div>
                                </td>
                                <td>
                                    <div class="upper-part" style="min-height: 45px;">
                                        <ion-icon class="arrow-button" src="./assets/svg/down-arrow.svg"
                                        *ngIf="!dataObj['isVisible']"></ion-icon>
                                    <ion-icon *ngIf="dataObj['isVisible']" class="rotate arrow-button down-arrow-button"
                                        src="./assets/svg/down-arrow.svg"></ion-icon>
                                    </div>
                                   
                                </td>
                            </tr>
                        </tbody>

                        <div class="no-data-found" *ngIf="sipRegList.length == 0">
                            <span>No Data Found</span>
                        </div>
                    </table>
                </div>
                <div class="loader" *ngIf="!dataLoad" style="min-height: 300px;">
                    <img src="/assets/imgs/loader.gif" alt="">
                </div>
            </div>
           </div>
       </div>
        
    </div>
</div>

<div class="mobile-visibility">
    <div class="switch-block mobile-visibility" [ngSwitch]="holdingTabValue">
        <div class="switch-option" *ngSwitchCase="'lumpsum'">
            <div *ngIf="(orderBookList | filterSearch: searchScheme : 'Name').length > 0 && dataLoad">
                <div class="orderbook-rows" *ngFor="let dataObj of orderBookList | filterSearch: searchScheme : 'Name'; let i = index">
                    <div class="orderbook-first-row">
                        <span class="swichin" [ngStyle]="{'background-color':dataObj.BuySell === 'B' ? 'green' : 'red' }">
                            {{purchaseTypes(dataObj.PurchaseType, dataObj.BuySell)}}
                        </span> 
                        <span style="color:#9C9C9C"> &#38;{{moment(dataObj['ExchOrderTime']).format("DD MMM YYYY hh:mm:ss A")}}</span>
                    </div>
                    <div class="orderbook-sec-row">
                        <div class="title-style">{{dataObj.Name}}</div> 
                        <div class="orderplace">
                            <span>{{dataObj['Status']}}</span>
                            <span><img class="status-icon" *ngIf="dataObj['Status'] == 'Placed'" src="assets/svg/approved.svg" alt=""></span>
                            <span><img class="status-icon" *ngIf="dataObj['Status'] == 'Failed'" src="assets/svg/rejected.svg" alt=""></span>
                            <span><img class="status-icon" *ngIf="dataObj['Status'] == 'InProcess'" src="assets/svg/process.svg" alt=""></span>
                        </div>
                    </div>
                    <div class="orderbook-third-row">
                        <div class="section">
                            <span class="label">Units</span>
                            <span class="value">{{dataObj.Units | formatNumerDecimal}}</span>
                        </div>
                        <div class="section">
                            <span class="label">Broker’s Ref. ID</span>
                            <span class="value">{{dataObj.BrokerOrderID}}</span>
                        </div>
                        <div class="section">
                            <span class="label">Exchange Ref. ID</span>
                            <span class="value">{{dataObj.ExchOrderId}}</span>
                        </div>
                    </div>
                </div> 
            </div>
        
            <div class="no-data-found" *ngIf="(orderBookList | filterSearch: searchScheme : 'Name').length == 0 && dataLoad">
                <span>No Data Found</span>
            </div>
            
            <div class="loader" *ngIf="!dataLoad" style="min-height: 300px;">
                <img src="/assets/imgs/loader.gif" alt="">
            </div>
        </div>
        <div class="switch-option" *ngSwitchCase="'sip'">
            <div>
                <div class="orderbook-rows" *ngFor="let dataObj of sipRegList; let i = index">
                    <div class="orderbook-first-row">
                        <!-- <span class="swichin">{{dataObj.PurchaseType}}</span>  -->
                        <span style="color:#9C9C9C">{{dataObj.ApplyDT}}</span>
                    </div>
                    <div class="orderbook-sec-row">
                        <div class="title-style">{{dataObj.Symbole}}</div> 
                        <div class="orderplace">
                            <span>{{splitStatus(dataObj.Status)}}</span>
                            <span><img class="status-icon" *ngIf="dataObj['Status'] == 'Accepted'" src="assets/svg/approved.svg" alt=""></span>
                            <span><img class="status-icon" *ngIf="dataObj['Status'] == 'Rejected'" src="assets/svg/rejected.svg" alt=""></span>
                            <span><img class="status-icon" *ngIf="splitStatus(dataObj['Status']) == 'Stopped'" src="assets/svg/process.svg" alt=""></span>
                        </div>
                    </div>
                    <div class="orderbook-third-row sip-upper-section" (click)="dropClick(dataObj.srNo , orderBookList)">
                        <div class="section">
                            <span class="label">Start Date</span>
                            <span class="value">{{dataObj.SipStart}}</span>
                        </div>
                        <div class="section">
                            <span class="label">End Date</span>
                            <span class="value">{{dataObj.SipEnd}}</span>
                        </div>
                        <div class="section">
                            <span class="label">Frequency</span>
                            <span class="value">
                                <span *ngIf="dataObj.SIPFFrequency == 'M'">Monthly</span>
                                <span *ngIf="dataObj.SIPFFrequency == 'W'">Weekly</span>
                                <span *ngIf="dataObj.SIPFFrequency == 'D'">Daily</span>  
                            </span>
                        </div>
                        <div class="section section-arrow" (click)="dropClick(dataObj.srNo , sipRegList)">
                            <ion-icon class="arrow-button" src="./assets/svg/down-arrow.svg" *ngIf="!dataObj['isVisible']"></ion-icon>
                            <ion-icon *ngIf="dataObj['isVisible']" class="rotate arrow-button down-arrow-button" src="./assets/svg/down-arrow.svg"></ion-icon>
                        </div>
                    </div>
                    <div class="orderbook-third-row orderbook-detail" *ngIf="dataObj['isVisible']">
                        <div class="section">
                            <span class="label">Application No.</span>
                            <span class="value">{{dataObj.ApplicationNO}}</span>
                        </div>
                        <div class="section">
                            <span class="label">Successful Txns.</span>
                            <span class="value">{{dataObj.SuccTrans}}</span>
                        </div>
                        <div class="section">
                            <span class="label">Failed Txns.</span>
                            <span class="value">{{dataObj.FailedTrans}}</span>
                        </div>
                    </div>
                </div> 
            </div>
        
            <div class="no-data-found" *ngIf="sipRegList.length == 0 && dataLoad">
                <span>No Data Found</span>
            </div>
            
            <div class="loader" *ngIf="!dataLoad" style="min-height: 300px;">
                <img src="/assets/imgs/loader.gif" alt="">
            </div>
        </div>
    </div>

    
  
 
</div>