@media screen and (max-width: 500px) {
    .desktop-header-table {
        th {
            font-size: 12px;
        }
        th:first-child {
            border-radius: 0 0 0 0 !important;
        }
        th:last-child {
            border-radius: 0 0 0 0 !important;
        }
    }
    .web-equity {
        .main-table {
            border-radius: 0;
            max-height: calc(100vh - 356px);
            overflow-y: auto;
            margin-bottom: 0;
            td {
                max-width: 50vw !important;
                width: 50% !important;
            }
        }
    }
    .thin-scroll::-webkit-scrollbar {
        width: 1px;
    }
    .loader-height {
        min-height: calc(100vh - 251px) !important;
    }
}
@media screen and (min-width: 501px) and (max-width: 768px) {
    .table-part{margin:0 10px;}   
   }