

<div class="thank_you text-center">
  <div class="pop_close" (click)="dismiss()"><img src="assets/svg/close_delete.svg" width="15" alt="close"></div>
  <img src="assets/svg/complete.svg" width="60" alt="complete">
  <h2>Thank You!</h2>
  <div>
  <p>Your query with Ticket Id {{ticketID}} has been submitted.</p>
   <p> Team will revert back shortly.</p>
   <div class="thnk_links">
    <a (click)="goHome()">Go to home</a>
    <a class="view-link-btn" (click)="prevQuery()">View Previous queries</a>
   </div>
  </div>

</div>

