.background-images {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    height: 100vh;
    // .left-part-image {
    //     height: 100vh;
    //     width: auto;
    // }
    .top-left-corner-image {
        position: absolute;
        top: 0;
        width: 182px;
        // z-index: 999;
    }
    .bottom-left-corner-image {
        width: 72px;
    }
    .right-part-image {
        width: 130px;
    }
}

.login-container {
    // background: url('/assets/imgs/dummy-login-background.png');
    // background: url('/assets/imgs/login_bg.png');
    // background: url('/assets/imgs/new-login-bg.jpg');
    background-size: 100% 100%;
    // background-repeat: no-repeat;
    display: flex;
    padding: 30px 66px 30px 100px;
    align-items: center;
    justify-content: space-between;
    // height: 100%;
    // min-height: 640px;
    height: 100vh;
}

.loader{
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    background: #00000059;
    min-height: 0;
    z-index: 999;
}

.partner-influencer-segment {
    background: #6C54C9;
    padding: 15px;
    padding: 15px 15px 0px;
    ion-segment-button {
        --background-checked: #fff;
        --indicator-height: 0;
        --border-radius: 20px 20px 0 0;
        font-size: 16px;
        text-transform: capitalize;
        font-family: 'nunitoSemiBold';
        --color: #B5ACD3;
        --color-checked: #3F25AD;
    }
}

.mobile-content-section {
    display: flex;
    z-index: 99;
    height: 624px;
    // margin-top: 6vh;
    // visibility: hidden;
    .login-heading {
        font-size: 25px;
        font-family: 'nunitoExtraBold';
        // width: 400px;
        z-index: 9999;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 6px;
        // padding-top: 15px;
    }
    .mobile-img {
        // width: 21.81%;
        // height: 79.87%;
        display: flex;
        flex-direction: column;
        align-items: center;
        // min-width: 570px;
        // width: 570px;
        img {
            // height: 100%;
            // width: 100%;
            object-fit: cover;
            // width: 480px;
            // width: 100%;
            // height: calc(100vh - 8vh);
            // object-fit: contain;
            width: auto;
            height: 410px;
        }
        ion-button {
            --color: #17c257;
            --color-activated: #17c257;
            --color-focused: #17c257;
            --color-hover: #17c257;
            --border-color: #17c257;
            font-size: 14px;
            font-family: nunitoExtraBold;
            --border-radius: 10px;
            width: 150px;
            height: 36px;
            min-height: 36px;
        }
    }

    .content-section {
        padding-left: 24px;
        width: 353px;
        margin-top: 6vh;
        padding-right: 16px;
        p {
            font-size: 42px;
            // color: #000;
            color: #343434;
            margin: 20px 0;
        }
        ion-button {
            --color: #17C257;
            --color-activated: #17C257;
            --color-focused: #17C257;
            --color-hover: #17C257;
            --border-color: #17C257;
            font-size: 18px;
            font-family: nunitoExtraBold;
            --border-radius: 10px;
        }
    }
}


.upper-validation {
    position: relative;
    top: -16px;
    z-index: 999;
}

.version {
    // display: block;
    text-align: center;
    color: #2680EB;
    font-size: 15px;
    font-family: 'nunitoSemiBold';
    position: relative;
    top: 20px;
}




.login-field-section {
    // width: 25%;
    width: 323px;
    // height: 100%;
    height: 624px;
    min-width: 323px;
    border-radius: 16px;
    // box-shadow: rgba(0, 0, 0, .3) 0px 4px 13px;
    box-shadow: 0 0 8px #0000001a;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    justify-content: flex-start;
    .login-fields {
        width: 100%;
        display: flex;
        flex-direction: column;
        // height: 100%;
        align-items: center;
        text-align: center;
        padding: 32px 40px 0;
        .logo {
            margin-bottom: 15px;
            img {
                height: 80px;
                width: 160px;
                width: 130px;
                object-fit: contain;
            }
        }
        .welcome-section {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin: 15px 0 35px 0;
            position: relative;
            .welcome {
                color: #000000;
                font-family: 'nunitoBold';
                font-size: 24px;
            }
            .message {
                font-size: 14px;
                padding: 0 10vw;
            }
            
            .start {
                color: #83838B;
                font-size: 20px;
                font-family: 'nunitoSemiBold';
            }
        }

        .multiple-message {
            margin: 40px 0 30px 0;
            .message {
                font-size: 12px;
                padding: 0;
            }
        }
        
        .field-block {
            width: 100%;
            ion-item {
                --padding-start: 0;
                --inner-padding-end: 0;
                --background-focused-opacity: 0;
            }
            .field {
                width: 100%;
                background: #fff;
                position: relative;
                ion-input {
                    border: 1px solid #E3E3E3;
                    border-radius: 4px;
                    font-family: nunitoBold;
                    color: #000;
                    --padding-end: 8px;
                    // height: 32px;
                }
                // .updated-input {
                    // height: 32px;
                // }
                .eye-icon{
                    color: #4F677A;
                    position: absolute;
                    right: 8px;
                    bottom: 12px;
                    z-index: 999;
                    width: 20px;
                    height: 20px;
                }
                ion-label {
                    font-size: 14px;
                    --color: #808080;
                    margin-bottom: 3px;
                }
                .updated-label {
                    font-size: 12px;
                    max-width: 100%;
                }
                .focus-label {
                    --color: #F37921;
                }
                .focus-input{
                    border: 1px solid #F37921;
                }
            }
        }
       
    }
    .login-fields-mobile-updated {
        padding: 0 !important;
        .logo-with-bg {
            background: url('../../../assets/svg/login_bg_mobile.svg');
            width: 100%;
            height: 170px;
            background-position: bottom;
            background-size: cover;
            display: flex;
            justify-content: center;
            padding-top: 20px;  
            img {
                width: 120px;
            }
        }
        .infl-logo-with-bg {
           // background: #2C305F;
            display: flex;
            align-items: center;
            img {
                height: 55px;
                width: auto;
                position: relative;
                top: -16px;
            }
        }
        .field-block {
            .field {
                ion-label {
                    font-size: 14px !important;
                    margin-left: 52px;
                    margin-right: 8px;
                    width: 100vw;
                    max-width: unset;
                    margin-bottom: 8px;
                }
                .updated-input {
                    height: 48px;
                    margin: 0 36px;
                    width: calc(100vw - 72px);
                    box-shadow: 3px 3px 4px #c2c1c129;
                    border: 1px solid #E2E2E2;
                    border-radius: 40px;
                    padding: 0 34px 0 4px !important;
                }
                .login-arrow {
                    right: 48px;
                    position: absolute;
                    width: 25px;
                    padding: 5px;
                    border: 2px solid #2680EB;
                    border-radius: 50%;
                    bottom: 12px;
                }
            }
        }
        .new-user {
            margin-top: 3px;
            a {
                text-decoration: none;
            }
        }
    }
    .forgot-password{
        font-size: 14px;
        // cursor: pointer;
        font-family: nunitoSemiBold;
        color: #2680EB;
        text-align: right;
        width: 100%;
        margin-top: 3px;
        span {
            cursor: pointer;
        }
    }
    .login-btn{
        margin-top: 44px;
        width: 100%;
        ion-button{
            --border-radius: 6px;
            height: 50px;
            --background: #F37921;
            --background-activated: #F37921;
            --background-focused: #F37921;
            --box-shadow: 0 2px 10px #F37921AD;
        }
    }
    .login-button-updated {
        margin: 60px auto 0px;
        display: flex;
        ion-button {
            width: 150px;
            margin: auto;
            height: 40px;
            --box-shadow: none;
            font-family: 'nunitoExtraBold';
            --border-radius: 6px;
            border-radius: 6px;
        }
        .button-disabled {
            background: #EAEAEA !important;
            --background: #EAEAEA !important;
            opacity: 1;
        }
    }
    
    .new-user{
        margin-top: 20px;
        color: #2680EB;
        font-size: 16px;
        font-family: nunitoSemiBold;
        a {
            color: #2680EB;
        }
    }
    .updated-new-user {
        font-size: 13.5px;
        a {
            text-decoration: none !important;
        }
    }
    .graph-img {
        // bottom: -5px;
        // position: absolute;
        // width: 100%;
        position: relative;
        max-height: 100px;
        text-align: center;
        padding-top: 75px;
        img {
            width: 100%;
            height: 100%;
            // object-fit: cover;
            object-fit: fill;
        }
        .help {
            // position: absolute;
            // bottom: 14px;
            // left: 48%;
            // color: #fff;
            text-decoration: underline;
            text-transform: capitalize;
            cursor: pointer;
            display: block;
            position: relative;
            // top: -49px;
            // bottom: 39px;
            text-align: center;
            color: #633EE3
        }
    }
    .graph-img-mobile {
        padding-bottom: 28px;
        .version {
            color: #6E6E6E;
            font-size: 16px;
            top: unset;
            margin-bottom: 24px;
        }
        .help {
            text-decoration: none;
            color: #2680EB;
            top: unset;
        }
    }
}

.mobile-otp-screen {
    .login-fields {
        .welcome-section {
            margin: 4px 0 35px 0; 
            width: 100%;
            position: relative;
        }
    }
    .opt-section {
        padding: 0 40px;
        text-align: center;
        .message {
            font-size: 14px;
            // padding: 0 20px;
        }
    }
    .form-group {
        .message-otp {
            font-size: 16px;
            margin: 16px 0 5px 0;
        }
        .resend {
            font-size: 14px;
            // margin: 0;
        }
        // .resendOtp{
        //     cursor:pointer;
        //     color:#2680EB;
        // }
    }
}

.mobile-set-pin {
    .set-pin {
        .ion-item-group {
            align-items: baseline;
            width: 60%;
            margin-bottom: 45px;
            // margin-left: 30px;
            margin-left: 15px;
            margin-right: 15px;
        }
        .message {
            font-size: 18px;
            color: #6E6E6E;
            margin-bottom: 12px;
        }
        ion-icon {
            // font-size: 20px;
            min-width: 19px;
        }
    }
}

.set-pin {
    ion-icon {
        // font-size: 20px;
        min-width: 19px;
    }
}

.updated-back {
     width: 18px;
    position: absolute;
    left: 24px;
    top: 10px;
}

.switch-account {
    right: 16px !important;
    left: unset;
    top: -7px;
    width: 25px;
}

.relogin {
    .welcome-section {
        margin: 0 !important;
        width: 100% !important;
        padding: 0px 40px;
    }
}



.finger-print-block {
    display: flex;
    justify-content: center;
    color: #2680EB;
    align-items: center;
    margin-bottom: 15px;
    font-size: 18px;
    font-family: 'nunitoSemiBold';
    img {
        width: 20px !important;
        margin-right: 8px;
    }
}


.buy-now {
    width: 168px;
    height: 42px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    .message-otp {
        text-align: center;
        font-size: 10px;
        color: #9C9C9C;
    }
    .resend {
        color: #2680EB;
        cursor: pointer;
    }
    .opt-submit {
        background: #EAEAEA;
        --background: #EAEAEA;
        border-radius: 5px;
        --border-radius: 5px;
        width: 130px    ;
        box-shadow: none;
        --box-shadow: none;
        margin-top: 50px;
    }
    .valid-submit {
        background: #F37921;
        --background: #F37921;
    }
    .pin-submit {
        margin-top: 24px;
    }
}

.opt-section {
    margin-top: 30px;
    .message {
        font-size: 12px;
        color: #6E6E6E;
    }
}



.ion-item-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    ion-item {
        width: 12%;
        height: 43px;
        --padding-start: 0;
        --padding-end: 0;
        --inner-padding-end: 0;
        --inner-padding-start: 0;
        --min-height: 36px;
        margin-top: 14px;
        --highlight-color-focused: transparent;
        --highlight-background: transparent;
        ion-input {
            text-align: center;
        }
    }
}

.relogin {
    .opt-section {
        margin-top: 0;
    }
    .ion-item-group {
        ion-item {
            width: 50px !important;
            height: 50px;
            padding: 5px;
            --background-focused: transparent;
            ion-input {
                height: 16px;
                width: 16px !important;
                border: 2px solid #83838B;
                border-radius: 50%;
                max-width: 16px !important;
                caret-color: transparent;
            }
            .has-value {
                background: #83838B;
                color: #83838B;
            }
        }
    }
}

.screen-lock {
    .login-fields-mobile-updated {
        height: 90vh;
        display: flex;
        justify-content: space-between;
        .lock-mess {
            font-size: 24px;
            color: #373737;
            font-family: 'nunitoBold';
            margin-bottom: 28px;
        }
        .lock-img {
            width: 80px;
        }
        .login-button-updated {
            ion-button {
                width: 220px;
                height: 50px;
                font-size: 16px;
            }
        }
        .skip {
            font-size: 16px;
            color: #2680EB;
            font-family: 'nunitoSemiBold';
            margin-top: 30px;
        }
    }
    
}

.back {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #2680EB;
    font-family: 'nunitoSemiBold';
    margin-top: 20px;
    cursor: pointer;
}

.set-pin {
    .opt-section {
        .message {
            font-family: 'nunitoSemiBold';
        }
    } 
    .ion-item-group {
        // align-items: baseline;
        align-items: center;
        width: 180px;
        // margin-left: 30px;
        ion-item {
            width: 13%;
            margin-top: 0px;
        }
    }
    .confirm-pin {
        margin-top: 30px;
    }
}

.successful-login {
    display: flex;
    flex-direction: column;
    text-align: center;
    // margin-top: 120px;
    margin-top: 75px;
    width: 100%;
    align-items: center;
    .success-message {
        color: #212121;
        font-size: 14px;
        margin-top: 8px;
        width: 177px;
        font-family: 'nunitoSemiBold';
    }
}

.successful-login.mobile-visibility{
    display: none;
}

.relogin-web {
    margin-top: 0 !important;
    .welcome-section {
        margin-top: 8px !important;
        margin-bottom: 28px !important;
        .welcome {
            font-size: 14px !important;
        }
    }
    .switch-account {
        width: 100%;
    }
    .new-user {
        margin-top: 6px !important;
        a {
            text-decoration: none !important;
            font-size: 11px !important;
        }
    }
    .login-button-updated{
        margin: 36px auto 0px !important;
        display: flex;
    }
        
}

.keyboard-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    grid-gap: 50px 20px;
    padding: 14px 16px;
    font-size: 28px;
    color: #373737;
    .close {
        width: 30px;
    }
}

.group-with-code-input {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.min-width-15 {
    min-width: 15px !important;
}

@media screen and (max-width: 768px) {
    .version {
        display: block;
    }
    .successful-login.mobile-visibility{
        display: flex;
    }
    
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .background-images {
        .top-left-corner-image {
            z-index: 999;
        }
    }
    
    .background-images {
        .bottom-left-corner-image {
            display: none;
        }
        .right-part-image {
            display: none;
        }
    }
    .login-container {
        .mobile-content-section {
            display: inherit !important;
            // height: 421px;
            // min-height: 421px;
            .login-heading {
                font-size: 15px;
            }
            // .mobile-img {
            //     img {
            //         height: 337px;
            //     }
            // }
        }
    }
    .login-field-section {
        min-width: 254px;
    }
}

.width-115 {
    width: 115px !important;
}


@media screen and (min-width: 501px) {
    .visible-for-mibile-screen {
        display: none;
    }
    .visible-for-web-screen {
        display: flex;
    }
}

@media screen and (max-width: 500px) {
    .background-images {
        display: none;
    }
    .successful-login {
        margin-top: 0px;
        width: 100%;
        align-items: center;
        // height: 100vh;
        height: calc(100vh - 270px);
        background: #fff;
        align-items: center;
        justify-content: center;
        .success-message {
            color: #212121;
            font-size: 14px;
            margin-top: 8px;
            width: 177px;
            font-family: 'nunitoSemiBold';
        }
    }
    .visible-for-mibile-screen {
        display: flex;
        justify-content: space-between;
    }
    .visible-for-web-screen {
        display: none;
    }

    .login-field-section {
        .graph-img {
            padding-top: unset;
        }
    }
    .help {
        bottom: 5px !important;
    }
    .version {
        display: block;
    }
    .ion-card-parent-mobile {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 0 15px 8px;
        width: 100%;
        .heading {
            font-size: 30px;
            font-family: 'nunitoBold';
            text-align: center;
            padding: 40px 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .partner-influencer-segment {
            background: #F5F4FC;
            padding: 6px;
            border-radius: 7px;
            ion-segment-button {
                --background-checked: #fff;
                --indicator-height: 0;
                --border-radius: 7px;
                font-size: 16px;
                text-transform: capitalize;
                font-family: "nunitoSemiBold";
                --color: #B5ACD3;
                --color-checked: #fff;
                --background-checked: #6C54C9;
                min-height: 43px;
            }
            .segment-button-checked {
                box-shadow: 0 3px 15px #aaa3db;
            }
        }
        .logo {
            text-align: center;
            img {
                width: 130px;
                padding: 35px 0;
            }
            
        }
        .login-field-section {
            justify-content: flex-start;
            background: transparent;
            .login-button-updated {
                margin: 24px auto 13px;
                ion-button {
                   font-size: 16px;
                }
            }
            .new-user {
                a {
                    color: #633EE3;
                }
            }
            
            .login-fields {
                .welcome-section {
                    margin: 0px 0 35px 0;
                }
            }
            .login-fields-mobile-updated {
                .logo-with-bg {
                    display: none;
                }
                .field-block {
                    .field {
                        ion-label {
                            width: unset;
                            margin: unset;
                            margin-bottom: 6px;
                            font-size: 12px !important;
                            --color: #6E6E6E;
                        }
                        .focus-label {
                            --color: #F37921;
                        }
                        .updated-input {
                            margin: auto;
                        }
                        .login-arrow {
                            right: 32px;
                        }
                        .updated-input {
                            border-radius: unset;
                            width: unset;
                            border-radius: 4px;
                            box-shadow: none;
                        }
                        .focus-input {
                            border: 1px solid #F37921;
                        }
                    }
                }
            }
            .graph-img-mobile {
                // margin-bottom: 50px;
                padding-top: 50px;
                .help {
                    color: #633EE3;
                    font-size: 16px;
                    font-family: 'nunitoSemiBold'
                }
            }
        }
    }
}

@media screen and (max-width: 370px) {
    .login-field-section {
        .graph-img-mobile {
            padding-bottom: 16px;
        }
        .login-fields-mobile-updated {
            padding: 0 !important;
            .logo-with-bg {
                height: 145px;
            }
        }
    }
    .keyboard-section {
        // grid-gap: 12px;
        // padding: 14px 65px;
        font-size: 24px;
        color: #373737;
    }
    .set-pin {
        .confirm-pin {
            margin-top: 20px;
        }
    }
    .ion-item-group{
        display: flex;
        justify-content: space-between;
        margin-bottom: 0px;
    }
}

// .newClassOTP{
    code-input {
        --item-spacing: 10px;
        --item-height: 3em;
        --item-border: none;
        --item-border-bottom: 1.5px solid #dddddd;
        --item-border-has-value: none;
        --item-border-bottom-has-value: 1.5px solid #dddddd;
        --item-border-focused: none;
        --item-border-bottom-focused: 1.5px solid #dddddd;
        --item-shadow-focused: none;
        --item-border-radius: 0px;
      }
// }


@media screen and (min-width: 500px) and (max-width: 768px) {
    .background-images {
        .bottom-left-corner-image {
            display: none;
        }
        .right-part-image {
            display: none;
        }
        .top-left-corner-image {
            z-index: 999;
        }
    }
    .login-field-section {
        min-height: 467px;
        height: 467px;
    }
    .mobile-content-section {
        min-height: 467px;
        height: 467px;
        display: none;
    }
}

@media screen and (min-width: 769px) and (max-width: 1440px) {
    .login-field-section {
        min-height: 535px;
        height: 535px;
    }
    .mobile-content-section {
        min-height: 535px;
        height: 535px;
    }
}

// @media screen and (orientation:landscape) {
//     .visible-for-web-screen {
//         display: flex;
//     }
//     .mobile-visibility-flex{
//         display: none;
//     }
//     .login-container {
//         height: auto;
//         max-width: 460px;
//         padding: 30px;
//         margin: auto;
//         .login-field-section {
//             width: 100%;
//         }
//     }
//     .background-images {
//         display: none;
//     }
//  }