.pop_close{position: absolute; right: 15px; width: 12px; top: 15px;}
.top_bg{background: #FFE6D4; text-align: center; padding: 2rem 1rem 6rem 1rem;}
.card_details_pop{padding: 16px;border-radius: 50% 50% 0 0; background: white; margin: -65px;}
.card_details_pop{text-align: center;}
.card_details_pop h2{color: #E8242A; font-size: 20px; font-weight: 700;}
.card_details_pop h5{color: #000; font-size: 18px; font-weight: 700;}
.card_details_pop p{color: #6E6E6E; font-size: 14px; font-weight: 500; margin: 15px 0;}
.card_details_pop span{color:#7F7F7F; font-size: 13px; font-weight: 400; padding-top: 30px; display: block;}
ion-button {border-radius: 10px;--border-radius: 10px;--background: #F37921;width: 230px;
box-shadow: 0px 1px 6px #f37921ad;font-size: 15px;height: 41px;
margin: 10px 0 0 0;}
ion-button img{margin-right: 10px;}