.total-value-block {
    padding: 8px 16px;
    display: flex;
    background: #F2F4F4;
    justify-content: space-between;
    align-items: flex-end;
    // padding-bottom: 8px;
    .block {
        display: flex;
        flex-direction: column;
        .block-title {
            color: #6E6E6E;
            font-size: 12px;
        }
        .block-value {
            font-size: 16px;
            color: #000000;
            font-family: nunitoSemiBold;
        }
    }
}

.h-p-16 {
    padding: 0 16px;
}

.rupees {
    font-size: 10px;
}

ion-content {
    height: calc(100vh - 308px);
}
.data-block-parent{padding-bottom: 58px;}
.data-block {
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;
    border-bottom: 1px solid #f2f4f4;
    .data {
        display: flex;
        align-items: center;
        .data-title {
            font-size: 16px;
            // color: #9C9C9C;
            color: #212121;
            font-family: nunitoLight;
        }
        .data-value {
            font-size: 16px;
            color: #212121;
            margin-left: 6px;
            max-width: 40vw;
            font-family: nunitoSemiBold;
        }
    }
}

.m-b-4 {
    margin-bottom: 4px !important;
}



// web part 
.web-equity {
    .main-table {
        border: none;
        tr {
            border: none;
            border-bottom: 1px solid #cbcbcb;
            td {
                width: 25%;
            }
            td:nth-child(1) {
                width: 30% !important;
            }
            td:nth-child(2) {
                padding-right: 120px !important;
                width: 20%;
            }
            td:nth-child(3) {
                text-align: left !important;
                width: 30%;
            }
            td:nth-child(4) {
                width: 20%;
            }
        }
    }
    .header-part {
        margin-bottom: 0;
    }
    .no-data-found {
        text-align: center !important;
    }
}