
<div class="card_details_pop text-center summary_details" >
  <div class="pop_close" (click)="dismiss()"><img src="assets/svg/close_delete.svg" width="15" alt="close"></div>
  
  <h2>Details</h2>
  <div class="pop_content">
	<div class="pop_grid">
		<div class="cl_mb_list">
			<label>NetWorth</label>
		<span>{{dataObj.NetWorth}}</span>
			</div>
	<div class="cl_mb_list">
	<label>Uncl. Chq</label>
<span>{{dataObj.Unclearedcheq}}</span>
	</div>

	<div class="cl_mb_list">
		<label>UnDel.</label>
	<span>{{dataObj.Undelivered}}</span>
		</div>

		<div class="cl_mb_list">
			<label>Span</label>
		<span>{{dataObj.Span}}</span>
			</div>
					<div class="cl_mb_list">
						<label>Margin THV</label>
					<span>{{dataObj.MarginTHV}}</span>
						</div>

						<div class="cl_mb_list">
							<label>Margin AHV</label>
						<span>{{dataObj.MarginAHV}}</span>
							</div>

							<div class="cl_mb_list">
								<label>Margin GHV</label>
							<span>{{dataObj.MarginGHV}}</span>
								</div>
  </div> 
</div>

 </div>
