

.container-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    height: 370px;
    top:25px;
    position: absolute;
    width: 100%;
}

.form2-height {
    height: 420px;
    top: 0;
}

.form-block {
    // height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.field-block {
    width: 100%;
    padding: 0 35px;
    margin-top: 8px;
    ion-item {
        --padding-start: 0;
        --inner-padding-end: 0;
    }
    .field {
        width: 100%;
        ion-input {
            border: 1px solid #E3E3E3;
            border-radius: 4px;
            font-family: nunitoBold;
            color: #000;
            --padding-end: 8px;
            font-size: 12px;
        }
        .eye-icon{
            color: #4F677A;
            position: absolute;
            right: 8px;
            width: 20px;
            height: 20px;
            z-index: 999;
            bottom: 8px;
        }
        ion-label {
            font-size: 12px;
            --color: #808080;
            margin-bottom: 3px;
            opacity: 1;
        }
        .focus-label {
            --color: #F37921;
        }
        .focus-input{
            border: 1px solid #F37921;
        }
    }
}
       
.login-btn{
    margin-top: 39px;
    width: 100%;
    padding: 0 35px;
    ion-button{
        --border-radius: 3px;
        border-radius: 3px !important;
        height: 45px;
        --background: #F37921;
        --background-activated: #F37921;
        --background-focused: #F37921;
        color: #fff;
        box-shadow: 0px 2px 15px #F37921AD;
        border-color: #f37921;
        border-bottom: none;
    }
}
.new-user{
    margin-top: 24px;
    color: #2680EB;
    font-size: 16px;
    font-family: nunitoSemiBold;
}

.message {
    text-align: center;
    color: #F37921;
    font-size: 14px;
    font-family: 'nunitoSemiBold';
    width: 160px;
    margin: 10px auto;
}

.added-value {
    background: #F2F4F4;
    border-color: #00083959;
    color: #212121;
}

.forgot-password {
    cursor: pointer;
    color: #2680EB;
    font-size: 12px;
    font-family: 'nunitoSemiBold';
    margin-top: 12px;
}

.text-right {
    text-align: right;
}

.m-t-5 {
    margin-top: 5px;
}

@media screen and (max-width: 500px) {
    .container-block {
        justify-content: flex-start;
        border-radius: 10px 10px 0 0;
        padding: 30px 25px;
        height: 420px;
        .field-block {
            padding: 0;
            margin-top: 0 !important;
        }
        .form-block {
            margin-top: 24px;
        }
        .login-btn {
            margin-top: 50px;
        }
    }
}