<div class="card_details_pop">
    <div class="modal_title">
         <span>PMS AIF Leads</span>
         <div class="pop_close" (click)="dismiss()"><img src="assets/svg/close_black.svg" width="18" alt="close"></div>
     </div>
     <div class="quick-madal-inner">
         <div>
         <div class="web-equity thin-scroll">
                 <div class="header-table">
                     <table style="width: 100%" class="desktop-header-table brokerage_tbl mb-tbl">
                         <thead>
                             <tr>
                                 <th>Client ID</th>
                                <th class="pointer">Client Name</th>
                                 <th class="pointer">Total AUM (₹)</th> 
                             </tr>
                         </thead>
                     </table>
                 </div>
                 <div class="main-table thin-scroll">
                     <table class="mb-tbl" style="width: 100%">
                         <tbody>
                             <tr>
                                 <td>YTSW878 <div class="hyperlinkstyle mobile-visibility">Kavya Desai</div></td>
                                 <td class="hyperlinkstyle">Kavya Desai</td>
                                 <td>8 Cr</td>
                             </tr>
                             <tr>
                                <td> EYSK215<div class="hyperlinkstyle mobile-visibility">Arjun Gupta</div></td>
                                <td class="hyperlinkstyle">Arjun Gupta</td>
                                <td>7.35 Cr</td>
                            </tr>
                            <tr>
                                <td>LYHZ139 <div class="hyperlinkstyle mobile-visibility">Neha Reddy</div></td>
                                <td class="hyperlinkstyle">Neha Reddy</td>
                                <td>7 Cr</td>
                            </tr>
                            <tr>
                                <td>PLYS175 <div class="hyperlinkstyle mobile-visibility">Rohan Mehta</div></td>
                                <td class="hyperlinkstyle">Rohan Mehta</td>
                                <td>6.5Cr</td>
                            </tr>
                            <tr>
                                <td> MUKFEWQ<div class="hyperlinkstyle mobile-visibility">Priya Choudhary</div></td>
                                <td class="hyperlinkstyle">Priya Choudhary</td>
                                <td>6.20 Cr</td>
                            </tr>
                            <tr>
                                <td>JYTW265 <div class="hyperlinkstyle mobile-visibility">Siddharth Shah</div></td>
                                <td class="hyperlinkstyle">Siddharth Shah</td>
                                <td>6 Cr</td>
                            </tr>
                            <tr>
                                <td>7326909 <div class="hyperlinkstyle mobile-visibility">Ananya Joshi</div></td>
                                <td class="hyperlinkstyle">Ananya Joshi</td>
                                <td>5 Cr</td>
                            </tr>
                            
                         </tbody>
                        
                     </table>
                 </div>
             </div>
            
         </div>
     </div>
 </div>
