<div class="card_details_pop">
    <div class="modal_title">
         <span>Not invested in SIP</span>
         <div class="pop_close" (click)="dismiss()"><img src="assets/svg/close_black.svg" width="18" alt="close"></div>
     </div>
     <div class="quick-madal-inner">
         <div>
         <div class="web-equity thin-scroll">
                 <div class="header-table">
                     <table style="width: 100%" class="desktop-header-table brokerage_tbl mb-tbl">
                         <thead>
                             <tr>
                                 <th>Client ID</th>
                                <th class="pointer">Client Name</th>
                                 <th class="pointer">Total MF AUM (₹)</th> 
                             </tr>
                         </thead>
                     </table>
                 </div>
                 <div class="main-table thin-scroll">
                     <table class="mb-tbl" style="width: 100%">
                         <tbody>
                             <tr>
                                 <td>HTRS521 <div class="hyperlinkstyle mobile-visibility">Devansh Singhania</div></td>
                                 <td class="hyperlinkstyle">Devansh Singhania</td>
                                 <td>7.38 Cr</td>
                             </tr>
                             <tr>
                                <td> FWKP998<div class="hyperlinkstyle mobile-visibility">Sneha Rajput</div></td>
                                <td class="hyperlinkstyle">Sneha Rajput</td>
                                <td>5.77 Cr</td>
                            </tr>
                            <tr>
                                <td>2987606 <div class="hyperlinkstyle mobile-visibility">Yash Kapoor</div></td>
                                <td class="hyperlinkstyle">Yash Kapoor</td>
                                <td>2.83 Cr</td>
                            </tr>
                            <tr>
                                <td>KTYA287 <div class="hyperlinkstyle mobile-visibility">Aaradhya Sharma</div></td>
                                <td class="hyperlinkstyle">Aaradhya Sharma</td>
                                <td>31.6 L</td>
                            </tr>
                            <tr>
                                <td> LTMG376<div class="hyperlinkstyle mobile-visibility">Aditya Patel</div></td>
                                <td class="hyperlinkstyle">Aditya Patel</td>
                                <td>18.1 L</td>
                            </tr>
                            <tr>
                                <td>WSOQ965 <div class="hyperlinkstyle mobile-visibility">Sanaya Khanna</div></td>
                                <td class="hyperlinkstyle">Sanaya Khanna</td>
                                <td>10.2 L</td>
                            </tr>
                            
                         </tbody>
                        
                     </table>
                 </div>
             </div>
            
         </div>
     </div>
 </div>
