<ion-header>
    <ion-toolbar color="tertiary" class="mobile-visibility">
      <div class="title-block title-block-custom">
        <div class="icon-title">
          <ion-icon
            name="arrow-back-outline"
            class="back-button"
            (click)="goBack()"
          ></ion-icon>
          <ion-title class="title">Requests</ion-title>
        </div>
      </div>
    </ion-toolbar>
    <ion-toolbar class="desktop-visibility">
      <div class="container">
        <div class="heading-part report-header">
          <ion-icon
            name="arrow-back-outline"
            class="back-button"
            (click)="goBack()"
          ></ion-icon>
          <span class="heading headingReports">Requests</span>
        
        </div>
        
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="container pad15">
      <div class="d-flex circular_search">
        <div class="search-section">
      <ion-searchbar search-icon="false" type="text" name="searchClientCodeName" class="custom-searchbar"
              placeholder="Search by client code" [debounce]="1000" [(ngModel)]="searchText"></ion-searchbar>	
              <div class="search-icon" (click)="typeSearchText($event)">
                <img src="assets/svg/updated_search.svg" alt="">
              </div>
        </div>
         <!-- review. datepicker issue fixed -->
         <div class="date-section">
        <div class="section inner-section" style="padding-left: 15px;">
				
          <div class="datePopover">
            <ion-item class="date_Picker" (click)="toggleStartDatePicker()">
              <div class="label">From Date</div>
              <ion-input placeholder="Select Date" [value]="startDate | date: 'dd/MM/yyyy'" class="ion-text-end date-no-opacity" disabled="true"></ion-input>
              <img class="calendar" src="assets/svg/calendar_report.svg" alt="">
            </ion-item>
            <div class="calendarBackdrop" *ngIf="showStartDatePicker" (click)="hideDatePicker('start')"></div>
            <ion-datetime class="calendarOpen date-position-right" *ngIf="showStartDatePicker" presentation="date"
            [(ngModel)]="startDate" presentation="date" min="1973-01-01" [max]="currentDate"
              (ionChange)="hideDatePicker('start',$event)">
            </ion-datetime>
            </div>
      
        </div>

          <div class="section inner-section">
          <div class="datePopover">
            <ion-item class="date_Picker" (click)="toggleEndDatePicker()">
              <div class="label">To Date</div>
              <ion-input placeholder="Select Date" [value]="endDate | date: 'dd/MM/yyyy'" class="ion-text-end date-no-opacity" disabled="true"></ion-input>
              <img class="calendar" src="assets/svg/calendar_report.svg" alt="">
            </ion-item>
            <div class="calendarBackdrop" *ngIf="showEndDatePicker" (click)="hideDatePicker('end')"></div>
            <ion-datetime class="calendarOpen date-position-right" *ngIf="showEndDatePicker" presentation="date"
              [(ngModel)]="endDate" presentation="date" min="1973-01-01" [max]="currentDate"
              (ionChange)="hideDatePicker('end',$event)">
            </ion-datetime>
            </div>

        </div>
      </div>
        </div>
      </div>
     <div class="container">
      <div class="desktop-visibility">
        <div class="web-equity thin-scroll">
          <div class="header-table">
              <table style="width: 100%" class="desktop-header-table">
                  <thead>
                    <tr>
                      <th>Client Code</th>
                      <th>Dealer ID</th>
                      <th>Maker ID</th>
                      <th>Maker Date</th>
                      <th>Status</th>
                      <th>Checker Date</th>
                      <th>Rejection Reason</th>
                      <th></th>
                    </tr>
                  </thead>
              </table>
          </div>
          <div class="main-table thin-scroll" (scroll)="divScroll($event)">
              <table style="width: 100%" class="mobile-table">
                  <tbody *ngIf="(datas).length > 0 && dataLoad">
                    <tr *ngFor="let item of datas">
                      <td>{{item.ClientCode}}</td>
                      <td>{{item.DealerID}}</td>
                      <td>{{item.MakerID}}</td>
                      <td>{{item.MakerDate}}</td>
                      <td><img *ngIf="item.Status == 'A'" src="/assets/svg/icon-Approved.svg" class="statusIcon"/> <img  class="statusIcon" *ngIf="item.Status == 'R'" src="/assets/svg/icon-rejected.svg"/>{{item.Status == 'R' ? 'Rejected': item.Status == 'A' ? 'Accepted' : item.Status }}</td>
                      <td>{{item.CheckerDate}}</td>
                      <td>{{item.Status == 'R' ? item.Reason : '-'}}</td>
                      <td ><a *ngIf="item.Status == 'R'" (click)="openPopup(item.ClientCode)">Demap</a></td>
                    </tr>
                  </tbody>
                  <div class="loader" *ngIf="!dataLoad" style="min-height: 173px;">
            <img src="/assets/imgs/loader.gif" alt="">
          </div>
          <div class="loader" *ngIf="(datas).length == 0 && dataLoad" style="min-height: 173px;">
            <h4>No records found.</h4>
          </div>
              </table>
          </div>
      </div>
       </div>
     </div>
    
     <div class="mobile-visibility">
        <div class="demapCard">
          <div
          class="loader-table loader-height-300 text-center d-flex"
          *ngIf="!dataLoad; else loaderr"
        >
         <img src="/assets/imgs/loader.gif" alt="loader" />
        </div>
        <ng-template #loaderr>
            <div *ngIf="datas.length>0; else noData">
              <div class="demapList" *ngFor="let item of datas; let i = index">
                  <div class="demapHead">
                      <div><label>Client Code:</label> {{item.ClientCode}}</div>
                      <a *ngIf="item.Status == 'R'" (click)="openPopup(item.ClientCode)">Demap</a>
                  </div>
                  <div class="d-flex">
                    <div>  <label>Dealer ID</label> {{item.DealerID}} </div>
                    <div>  <label>Maker ID</label> {{item.MakerID}}</div>
                    <div>  <label>Status</label> <img *ngIf="item.Status == 'A'" src="/assets/svg/icon-Approved.svg" class="statusIcon"/> <img  class="statusIcon" *ngIf="item.Status == 'R'" src="/assets/svg/icon-rejected.svg"/>{{item.Status == 'R' ? 'Rejected': item.Status == 'A' ? 'Accepted' : item.Status }}</div>
                  </div>
                  <div class="grayBox" *ngIf="grayBoxVisible[i]" > 
                    <div class="d-flex">
                      <div>  <label>Checker Date</label> {{item.CheckerDate}}</div>
                      <div>  <label>Maker Date</label>{{item.MakerDate}} </div>
                    </div>
                    <div class="d-flex mt10">
                      <div>  <label>Rejection Reason</label> {{item.Status == 'R' ? item.Reason : '-'}}</div>
                    </div>
                  </div>
                  <div class="arrowBtn text-center" (click)="toggleGrayBoxVisibility(i)">
                    <img src="/assets/svg/arrow-up-down.svg"  *ngIf="!grayBoxVisible[i]" alt="">
                    <img src="/assets/svg/arrow-down-up.svg"  *ngIf="grayBoxVisible[i]" alt="">
                  </div>
              </div>
            </div>
            <ng-template #noData>
              <div class="sfsd no-data-found">
                <span>No records found</span>
              </div>
            </ng-template>
        </ng-template>
        </div>
        <ion-infinite-scroll *ngIf="enableNext" threshold="100px" (ionInfinite)="loadData($event)">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
     </div>
  </ion-content>