.web-dp-modification-details table{width: 100%;}
.web-dp-modification-details table th{background-color: #F2F4F4; font-size: 14px; }
.web-dp-modification-details table td{border-top: 1px solid #e3e2ec;}
.web-dp-modification-details table th,td{color: #6E6E6E; font-size: 15px;    padding: 10px; text-align: left;}
.web-dp-modification-details th:first-child { border-radius: 10px 0 0 0 !important; }
.web-dp-modification-details th:last-child { border-radius: 0 10px 0 0 !important; }
.web-dp-modification-details tbody{ border-radius: 8px 8px; border: 1px solid #cbcbcb!important; }
.text-center{text-align: center;}
.web-dp-modification-details table th:nth-child(4), .web-dp-modification-details table td:nth-child(4){width: 16%;}
.arrow-btn{cursor: pointer;}

.download_file{display: flex;justify-content: flex-start; gap: 25px;}
.download_file > div{cursor: pointer;}
.download_file img{width: 25px;}
.option-type-dp-modification {position: relative;display: inline-block;}
.option-type-dp-modification .tooltiptext {visibility: hidden;width: 150px;top: 100%;left: 55%;margin-left: -60px;
background-color: black;text-align: center;border-radius: 6px;
padding: 8px;position: absolute;z-index: 999;}
.option-type-dp-modification:hover .tooltiptext {visibility: visible;}
.option-type-dp-modification:hover .tooltiptext span{ color: #fff;}

.overlay-div{
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 99;
    top: 0; border: 0px;
}
.w-500{max-width: 500px; width: 100%;}
.details_part{background: #f4f3f9; padding: 10px; gap: 35px; display: flex;}
.details_part .dp_grid label{color: #6e6e6e; font-size: 12px; font-family: nunitoSemiBold; display: block;}
.details_part .dp_grid span{color: #212121; font-size: 14px; font-family: nunitoSemiBold; display: block;}
.web-dp-modification-details{margin-bottom: 60px;}
.scriptwise .custom-searchbar{width: 100% !important;}
.note{margin: 6px 0 12px 0;}
.note small{display: block;}

@media screen and (max-width: 768px) {
    
    // .scriptwise.search-section-reports .custom-searchbar {width: 298px;}
    .font-15{ font-size: 15px !important;}
    .download_file{display: flex;justify-content: flex-end; gap: 10px; margin: 10px; margin-right: 40px;}
    .download_file > div{cursor: pointer;}
    .download_file img{width: 20px;}
    .grid_main{margin: 20px 0; padding: 10px;}
    .table_grid_box{ padding: 10px 15px; background: #fff; border: 1px solid rgba(0,0,0,.04); box-shadow: 0 3px 18px hsla(0,0%,58.8%,.24); border-radius: 10px; margin-bottom: 10px; display: grid; grid-template-columns: 1fr 1fr; gap: 12px;}
    .table_grid label{font-size: 12px; color: #969696; display: flex;}
    .table_grid span{font-size: 13px; color: #000; font-weight: 500;}
    .table_grid span span{font-weight: 700;}
    .change-option-mobile {
        background: #fff;
    }
    .change-option-mobile {
        display: flex;
        justify-content: flex-end;
    }
    .change-option {
        color: #F37921;
        font-size: 16px;
        margin-top: 24px;
        margin-right: 11px;
        cursor: pointer;
        margin: 0;
        padding: 12px 16px 12px 3px;
    }
    .spacing{
        width: 100%;
        margin-left: 10px;
    }
    .dp-notes{
        padding-left: 15px;
        display: inline-flex;
    }
    .excel55p-img{
        width: 55px !important;
    }
}