<div class="card_details_pop text-center confirm_changes">
	<div class="pop_close" (click)="dismiss()"><img src="assets/svg/close_delete.svg" width="15" alt="close"></div>
	
	<h2>Confirm Changes</h2>
	<p>Following client information will be updated</p>
	<div class="pop_content">
	  <div class="confirm_changes_grid">
  
	  <div class="cl_mb_list" *ngFor="let dataObj of HoldBlockSellandBranchRemarkIDList let i = index">
		  <label>{{dataObj.MakerId}}</label>
	  <span>{{dataObj.RemarkCode}}</span>
		  </div>
			
	</div>
	<div class="confirm_btn"> 
	<ion-segment-button class="btn_orange btn confirm_proceed" (click)="save()"><span>Proceed</span></ion-segment-button>
</div>
  </div>
  
   </div>