
ion-header{
    .arrow-down-white {
        width: 10px;
    }
    // margin-top: 56px!important;
    .overlay-div{
        overflow: hidden;
        .arrow-down-white {
            transform: rotate(180deg);
        }
        .bg-img{
            background: url('../../../../assets/svg/mobile-header-bg-bigger.svg');
            background-size: cover;
            background-repeat: no-repeat;
        }
        position: absolute;
        // height: 100vh;
        max-height: 0;
        transition: max-height 0.15s ease-out;
        width: 100%;
        // background-color: rgba(0,0,0,0.5);
        background-color: rgba(0,0,0,0.7);
        // z-index: 9999999;
        top: 0;
        // padding-top: 40px;
        .sensex-parent-block{
            display: flex;
            justify-content: space-around;
            // background: transparent linear-gradient(294deg, #4811CB 0%, #1E1C57 100%) 0% 0%;
            color: #fff;
            .item-block{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-left: 15px;
                img{
                    width: 10px;
                }
                h6{
                    font-size: 14px;
                    font-family: 'nunitoLight';
                    margin-bottom: 3px;
                    margin-top: 0;
                }
                .lbl{
                    font-size: 12px;
                    font-family: 'nunitoBold';
                }
                .lbl2{
                    font-size: 12px;
                    font-family: 'nunitoLight';
                }
            }
        }
        // .view-details{
        //     background: transparent linear-gradient(294deg, #4811CB 0%, #1E1C57 100%) 0% 0%;
        //     color: #fff;
        //     padding: 25px 0;
        // }
        .text-left{
            // background: transparent linear-gradient(294deg, #4811CB 0%, #1E1C57 100%) 0% 0%;
            color: #fff;
            display: flex;
            justify-content: space-between;
            .search-block{
                padding: 13px 1px;
            }
            h4{
                margin: 0;
                padding: 11px 16px;
            }
        }
    }
    .overlay-div.visible{
        max-height: 100vh;
        transition: max-height 0.25s ease-in;
        z-index: 99;
        // top: 0;
        // padding-top: 40px;
        height: 100vh;
        .view-details{
            // background: transparent linear-gradient(294deg, #4811CB 0%, #1E1C57 100%) 0% 0%;
            color: #fff;
            padding: 25px 0;
            span{
                font-size: 12px;
	            font-family: 'nunitoLight';
            }
        }
    }

    .select-block{
        .select h4{
            margin: 0;
            padding: 10px 15px;
        }
    }
}

.header-icon-block{
    justify-content: flex-end;
    .first-icon{
        margin-right: 5px;
    }
}

.loader-height {
    min-height: calc(100vh - 286px);
}

.snapshot-slider {
    swiper-slide {
        min-height: calc(100vh - 215px);
        align-items: flex-start;
        // border: 3px solid blue;
    }
}

.delete-scrip-toolbar-desktop{
    --min-height:40px !important;
    margin-top: 20px;
    .delete-scrip-header {
        background: #F2F4F4;
        font-size: 12px;
        padding: 12px 16px;
        color: #6E6E6E;
        border-radius: 10px 10px 0 0;
    }
}

.delete-scrip-toolbar-mobile{
    --min-height:40px !important;
    --border-width: 0 !important;
    --background: #f2f4f4;
    .delete-scrip-header {
        background: #F2F4F4;
        font-size: 12px;
        padding: 12px 16px;
        color: #6E6E6E;
        // border-radius: 10px 10px 0 0;
    }
}

.highLow{
    font-size: 14px !important;
}

.LTP{
    font-size: 16px !important;
}


.iconsize{
    height: 18px;
    width: 23px;
    padding: 3px 8px 0px 0px;
}

.segment-block ion-badge {
    margin-bottom: 2px;
}

//delete below line for testing purose only
.segment-button-checked.sc-ion-segment-button-md-h:hover .button-native.sc-ion-segment-button-md{
    color: #fff;
}

.btn-block{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    ion-button{
        height: 50px;
        font-size: 16px;
        --background: #F37921;
        --background-focused: #F37921;
        --background-activated: #F37921;
        width: 250px;
        box-shadow: 0px 1px 9px #F37921AD;
        text-transform: capitalize;
        --border-radius: 10px;
        border-radius: 10px;
    }
}

@media (max-width: 820px){
    .mobile {
        display:none;
    }
}

@media (min-width: 820px){
    .web {
        display:none;
    }
}

.colorback{
    background-color: white;
    /* margin: 0 10vw 13px; */
    /* margin-right: 11.1vw; */
    // width: 1170px;
    margin: auto;
    margin-bottom: 31px;
}

.scripFont{
    font-size: 12px;
    font-weight: bold;
}

.fontT{
    // font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: #6E6E6E;
    background-color: #F2F4F4;
    position: sticky;
    width:100%;
    top:-1px;
    z-index:100;
}

.divT{
    // font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: #6E6E6E;
    // background-color: #F2F4F4;
    background-color: #F4F3F9;
    width:100%;
    height:74px;
    top:-1px;
    z-index:100;
    margin-bottom: 15px;
    padding: 8px 2px 8px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    ion-icon{
        margin-right: 3px;
    }
}

.spanStyle{
    color: #dddddd;
    font-size: 12px;
    // margin-left: 3px;
    font-family: nunitoRegular;
    color: var(--ion-gray-seconary-color);
}

.fontWeb{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}
.tablebot{
    // border-width:0.3px;
    // border-bottom-style: solid;
    border: 2px solid #F2F4F4;
    // cursor: pointer;

}

// td, th {
    // padding: 8px;
// }

// .bigger-height {
//     .td-block {
//         height: 51px !important;
//     }
// }

.td-block {
    height: 51px;
}

.alignVertical {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    .flex-column {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    span {
        width: 100%;
    }
}


thead.static {
    position: static;
    border: 3px solid #73AD21;
  }
.fontTT{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: #6E6E6E;
    background-color: #F2F4F4;
    position: sticky;
    width:100%;
    top:-1px;
    z-index:100;
    padding: 0px 65px 25px 65px ;
}

.collapsible {
    color: white;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }


  .wrapper {
    text-align: center;
}

.noData{
    border: none !important;
}

.first-span-block {
    display: flex;
    align-items: center;
}

.gainer-deal-block {
    display: flex;
    .gainers-losers, .bulk-block-deals {
        width: 50%;
        display: flex;
    }
}

.wathlist-block-segment {
   ion-segment-button {
    --padding-start: 26px;
    --padding-end: 26px;
   }
}

.watchlist-table {
    th {
        .td-block {
            height: 40px;
            line-height: 23px;
        }
    }
}

.client-detail {
    color: #341793;
}

.divT.inner-tr-style {
    span:first-child {
        color: #716A90;
    }
}

.market-status {
    .market-status-content {
        margin: auto;
    }
}

.tabs-content-style {
    swiper-container {
        swiper-slide {
            table {
                tr {
                    td {
                        width: 28%;
                        text-align: right;
                    }
                    td:first-child {
                        text-align: left;
                        width: 44%;
                        padding-left: 15px;
                    }
                    td:nth-child(3) {
                        padding-right: 16px;
                    }
                }
            }
        }
    }
}

.watchlist-style-parent {
    table {
        tbody {
            tr {
                td {
                    text-align: right;
                    width: 14%;
                }
                td:nth-child(1) {
                    text-align: left;
                    width: 23%;
                }
                td:nth-child(3) {
                    width: 17%;
                }
                td:nth-child(7) {
                    width: 7%;
                }
            }
        }
        thead {
            tr {
                th {
                    text-align: right;
                    width: 14%;
                }
                th:nth-child(1) {
                    text-align: left;
                    width: 23%;
                }
                th:nth-child(3) {
                    width: 17%;
                }
                th:nth-child(7) {
                    width: 7%;
                }
            }
        }
    }
}

.watchlist-style-parent-header {
    table {
        thead {
            tr {
                th:nth-child(1) {
                    padding-left: 7px;
                }
            }
        }
    }
}

// css for gainers & losers  and bulk & block section in mobile snapshot
@media screen and (max-width: 767px){
    .gainer-container, .deals-container{
        width:100%;
        th:nth-child(odd),td:nth-child(odd) {
            text-align: left;
            padding-left:5px;
            border: 1px solid #dddddd;
            border-right :0 !important;
            max-width: 26vw;
            font-size: 12px !important;
            // background-color: yellow;
        }
        th:nth-child(even),td:nth-child(even) {
            text-align: right;
            padding-right:5px;
            max-width: 25vw;
            font-size: 12px !important;
            //background-color: green;
            border: 1px solid #dddddd;
            border-left :0 !important;
        }
        th,td{
            padding:10px 0;
            width:50%;
        }
    }
    .weekhighlow_container{
        td {
            max-width: 33vw;
            font-size: 12px;
        }
    } 
}


// css for gainers & losers  and bulk & block section in mobile desktop

@media screen and (min-width: 768px){
    .gainer-container, .deals-container{
        width:50%;
        display:inline-block;
        .displaytabletitle{
            margin-bottom: 10px;
        }
        table{
            border:1px solid #dddddd;
        }
        tr{
            border-bottom: 1px solid #dddddd;
        }
    
    }
    .gainer-container-second, .deals-container-second {
        width: 100%;
        display: flex;
        flex-direction: column;
        .displaytabletitle{
            margin-bottom: 0px;
        }
    }
    .gainer-container{
      
         th:nth-child(odd),td:nth-child(odd) {
            text-align: left;
            padding-left:15px;
        }
        th:nth-child(even),td:nth-child(even) {
            text-align: right;
            padding-right:15px;
        }
        
        th,td{
            padding:10px 0;
            width:50%;
            
        }
    }  
    .deals-container{
     
        th:nth-child(n+0),td:nth-child(n+0) {
            text-align: left;
            padding-left:15px;
        }
        th:nth-child(2n+0),td:nth-child(2n+0) {
            text-align: right;
        }
        th:nth-child(3n+0),td:nth-child(3n+0) {
            text-align: right;
            padding-right:15px;
        }
        th{
            padding:10px 0;
        }
        td{
            padding:17.4px 0;
        }
        th,td{
            width:33.33%;
            
        }
    }
}
.gainer-container, .deals-container{
    padding:0 10px;
    .mt10{
        margin-top:10px;
    }
    .displaytabletitle{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding:0 10px;
       
        .slider{
             border: 1px solid #7E7C8A;
            //   padding: 14px 0;
        }
        // .slider:before {
            // bottom: 6px !important;
        // }
    }
    .gainerstable, .dealstable{
        display:flex;
        flex-direction: row;
        // align-items: center;
        align-items: flex-start;
        // margin-top:10px 10px;
        .gainertableleft, .gainertableright, .dealstableleft, .dealstableright{
            width:50%;
            table{
                width:100%;
            }
            thead{
                background: #D5EFCC;
                color: #6E6E6E;
                font-size: 12px;
            }
        
            
            td{
                font-size:15px;
            }
        }
    }
}

.gainer-container-second, .deals-container-second{
    padding:10px;
    .mt10{
        margin-top:0px;
    }
    .displaytabletitle{
        padding:10px;
    }
    .gainerstable, .dealstable{
        display:flex;
        flex-direction: row;
        // align-items: center;
        align-items: flex-start;
        margin-top:10px 10px;
        .gainertableleft, .gainertableright, .dealstableleft, .dealstableright{
            width:50%;
            table{
                width:100%;
            }
            thead{
                background: #D5EFCC;
                color: #6E6E6E;
                font-size: 12px;
            }
            td{
                font-size:15px;
            }
        }
    }
}

.gainer-container-second {
    padding-right: 16px;
}

.deals-container-second {
    padding-left: 16px;
}

.content-block {
    overflow: auto;
    // max-height: calc(100vh - 160px);
    padding: 0 4vw;
}

.wrapper-add-scrip {
    height: calc(100vh - 360px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.desktop-table {
    border: 1px solid #cbcbcb;
    border-radius: 0 0 10px 10px;
    border-top: none;
    table {
        border: none;
        .tablebot {
            border: none;
            border-bottom: 1px solid #cbcbcb;
        }
        .tablebot:last-child {
            border-bottom: none;
        }
    }
}

.client-details-style {
    .client-section {
        justify-content: flex-start;
        margin-left: 15px;
        .image {
            margin-left: 15px; 
            margin-right: 5px; 
            width: 12px
        }
        .client-detail {
            cursor: pointer;
        }
    }
    .details-section {
        .image {
            margin-right: 5px; 
            width: 12px
        }
        .client-detail {
            cursor: pointer;
        }
    }
}


// 52 week high low 

.weekhighlow_container{
    padding:8px 12px;
    .weekhigh_title{
        display:flex;
        flex-direction: row;
        .titleheader-desktop{
            font-size: 20px;
            padding: 0 15px;
        }
    }
    @media screen and (max-width: 767px){
        .weekhigh_title{
            justify-content: space-between;
        }
        tbody {
            display: block;
            max-height: 200px; /* e.g. */
            overflow-y: scroll; /* keeps the scrollbar even if it doesn't need it; display purpose */
            border-bottom: 1px solid #cbcbcb;
        }
        tr:last-child {
            border-bottom: none !important;
        }
    }
    @media screen and (min-width: 768px){
        .weekhigh_title{
            justify-content: flex-start;
            padding-bottom: 10px;
            align-items: center;
        }
        .weekhighlist{
            width:50%;
            display:inline-block;
        }
        tbody {
            display: block;
        }
    }
   
    table{
        width: 100%;
        border-collapse: collapse;
        // border:1px solid #CBCBCB;
    }
    thead {
        width: calc(100% - 17px); /* - 17px because of the scrollbar width */
    }
 
    tr {
        display: table; /* display purpose; th's border */
        width: 100%;
        box-sizing: border-box;/* because of the border (Chrome needs this line, but not FF) */
        border:1px solid #CBCBCB; 
        border-top: none;
        cursor: pointer;
    }
    th{
        // position:relative;
        padding:10px 0;
        color: #6E6E6E;
        font-size: 14px;
        width: 33.33%;
    }
     td{
        padding:15px 0;
         width:33.33%;
    }
  
}

.weekhighlow_container_second, .toppers_container {
    .slider {
        border: 1px solid #7E7C8A;
    }
}
@media screen and (min-width: 768px){
    .weekhighlow_container{
        margin-top: 30px;
    }
    .weekhighlow_container_second {
        display: flex;
        flex-direction: column;
    }
}
// vol toppers
.toppers_container{
    padding:0 12px;
    .topper_title{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        justify-content: space-between;
        padding-bottom: 10px;
        padding-top:10px;
        .titleheader-desktop{
            font-size: 21px;
            padding: 0 15px;
        }
    }
    @media screen and (max-width: 767px){
        .toppers_container{
            margin-top: 30px;
        }
        .toppers_list{
            thead{
                background: #F2F4F4;
            }
           th{
               font-size: 12px !important;
           }
           th,td{
               width:25%;
           }
           td{
               padding:10px 0;
               font-size: 12px;
           }
        }
    }

    @media screen and (min-width: 768px){
        .toppers_container{
            margin-top: 30px;
        }
        .toppers_list{
            thead{
                background: #F2F4F4;
            }
           th{
               font-size: 14px !important;
           }
           th,td{
               width:20%;
           }
           td{
               padding:10px 0;
           }
        }
    }
    
}
@media screen and (min-width: 768px){
    .toppers_container{
        margin-top: 30px;
        .toppers_list {
            border-radius: 10px;
        }
    }
}

// common class for table in snapshot screen
.commontablewidth{
    width:100%;
    // border: 1px solid #CBCBCB;
    tr{
        border: 1px solid #CBCBCB;
        border-top: none;
    }
}
.titleheader{
    font-size: 19px;
    color: #17C257;
    // width: 44%;
    
}

.viewall{
    display: block;
    margin-top: 20px;
    text-align: center;
    color:#2680EB;
    span {
        cursor: pointer;
    }
    // cursor:pointer;
}

.commonlowhightable{
    background: #D5EFCC;
}

// common class for alignment of table
.commonth{
    padding:10px 0;
    color: #6E6E6E;
    font-size: 14px;
}
.leftalignwithpadding{
    text-align: left;
    padding-left:15px !important;
    
}
.rightalignwithpadding{
    text-align: right;
    padding-right:15px !important;
    
}
.fontboldblack{
    color: #000000;
    font-family: 'nunitoBold';
    font-size: 15px;
}
.fontgreen{
   color: #17C257;
   font-size: 14px;
}

@media screen and (max-width: 767px){
    .displayoffweb{
        display:none;
    }
    .gainer-container, .deals-container{
        .mt10{
            margin-top:6px; margin-bottom: 6px;
        }
    }
} 
@media screen and (min-width: 768px){
 .displayoffmobile{
     display:none;
 }

 

}  

@media screen and (min-width: 501px) and (max-width: 1024px) {
    .gainer-deal-block {
        flex-direction: column;
        .gainers-losers, .bulk-block-deals {
            width: 100%;
            display: flex;
        }
        .most-attive-stock {
            width: 100% !important;
        }
    }
}

@media screen and (max-width: 500px) {
    // table {
    //     tr {
    //         td {
    //            font-size: 13px !important; 
    //         }
    //     }
    // }
}

@media screen and (max-width: 370px) {
    // table {
    //     tr {
    //         td {
    //            font-size: 12px !important; 
    //         }
    //     }
    // }
}

/** Ionic CSS Variables **/
:root {
    --color-checked: #fff;
  }
  @media screen and (min-width: 501px) and (max-width: 768px) {
.toppers_container{padding: 0 8px;}
.weekhighlow_container .weekhigh_title, .displaytabletitle {margin: 10px 0 !important;}
.fal.fa-times.modal-dismiss.cross { position: absolute; right: 5px; top: 5px; }
.weekhigh_title {padding: 10px;}
swiper-slide{width: 100% !important;}
.swiper-container{width: 100%;}
}
.center-block{
    height: 90%;
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    ion-button {
        --background: #F37921;
        --border-radius: 22px;
        border-radius: 22px !important;
    }
}
