<div class="card_details_pop">
   <div class="modal_title">
        <span>Clients Birthday</span>
        <div class="pop_close" (click)="dismiss()"><img src="assets/svg/close_black.svg" width="18" alt="close"></div>
    </div>
    <div class="quick-madal-inner">
        <div>
        <div class="web-equity thin-scroll">
                <div class="header-table">
                    <table style="width: 100%" class="desktop-header-table brokerage_tbl mb-tbl">
                        <thead>
                            <tr>
                                <th>Client ID</th>
                                <th class="pointer">Group Code</th>
                                <th class="pointer">Client Name</th>
                                <th class="pointer">Date Of Birth</th> 
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="main-table thin-scroll">
                    <table class="mb-tbl" style="width: 100%">
                        <tbody>
                            <tr>
                                <td>10987652 <div class="hyperlinkstyle mobile-visibility">Riya Banerjee</div></td>
                                <td>F176Y</td>
                                <td class="hyperlinkstyle">Riya Banerjee</td>
                                <td>02/04/1991</td>
                            </tr>
                            <tr>
                                <td>12298723<div class="hyperlinkstyle mobile-visibility">Aditya Krishnan</div></td>
                                <td>F2239K</td>
                                <td class="hyperlinkstyle">Aditya Krishnan</td>
                                <td>02/04/1992</td>
                            </tr>
                            <tr>
                                <td>13087655 <div class="hyperlinkstyle mobile-visibility">Aisha Khanna</div></td>
                                <td>F1Q90AP01</td>
                                <td class="hyperlinkstyle">Aisha Khanna</td>
                                <td>02/04/1996</td>
                            </tr>
                            <tr>
                                <td>14578328 <div class="hyperlinkstyle mobile-visibility">Rohit Kapoor</div></td>
                                <td>F2NK7J</td>
                                <td class="hyperlinkstyle">Rohit Kapoor</td>
                                <td>03/04/2001</td>
                            </tr>
                            <tr>
                                <td>15268398 <div class="hyperlinkstyle mobile-visibility">Shreya Malhotra</div></td>
                                <td>FI278</td>
                                <td class="hyperlinkstyle">Shreya Malhotra</td>
                                <td>03/04/1971</td>
                            </tr>
                            <tr>
                                <td>16927360 <div class="hyperlinkstyle mobile-visibility">Kabir Verma</div></td>
                                <td>FI278</td>
                                <td class="hyperlinkstyle">Kabir Verma</td>
                                <td>04/04/1981</td>
                            </tr>
                            <tr>
                                <td>17398724 <div class="hyperlinkstyle mobile-visibility">Anjali Bhatia</div></td>
                                <td>FAKQ2</td>
                                <td class="hyperlinkstyle">Anjali Bhatia</td>
                                <td>04/04/1989</td>
                            </tr>
                            <tr>
                                <td>18113342 <div class="hyperlinkstyle mobile-visibility">Raghav Tiwari</div></td>
                                <td>FM21L</td>
                                <td class="hyperlinkstyle">Raghav Tiwari</td>
                                <td>04/04/1995</td>
                            </tr>
                            <tr>
                                <td>19472699 <div class="hyperlinkstyle mobile-visibility">Saanvi Rao</div></td>
                                <td>C18789</td>
                                <td class="hyperlinkstyle">Saanvi Rao</td>
                                <td>04/04/1996</td>
                            </tr>
                            <tr>
                                <td>20978622 <div class="hyperlinkstyle mobile-visibility">Yash Patel</div></td>
                                <td>C12445</td>
                                <td class="hyperlinkstyle">Yash Patel</td>
                                <td>05/04/1992</td>
                            </tr>
                           
                        </tbody>
                       
                    </table>
                </div>
            </div>
           
        </div>
    </div>
</div>